.btn-skosmos {
  background-color: #00748F;
  border-color: #00748F;
  border-radius: 0;
  color: #fff;
}

.btn-skosmos:active, .btn-skosmos:hover, .btn-skosmos:focus {
  background-color: #148DA8;
  border-color: #148DA8;
  color: #fff;
}

.demo-screenshot {
  display: inline-block;
  margin-top: 20px;
}

.gap-left {
  margin-left: 10px;
}

header > a > img {
  border: 0; 
  height: 149px;
  position: absolute; 
  right: 0; 
  top: 0; 
  width: 149px; 
}

#topbar {
  background-color: #00748F;
  margin-bottom: 0;
}

#topbar > div > h1 {
  color: #fff;
  font-weight: bold;
}

