<div class="container py-5">
  <div class="row">
    <div class="col-md-5 pe-5">
      <p class="fs-6">
                Skosmos is a web-based tool providing services for accessing controlled vocabularies,
                which are used by indexers describing documents and searchers looking
                for suitable keywords. Vocabularies are accessed via SPARQL endpoints containing SKOS vocabularies.
      </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 px-3">
      <span class="fs-6 fw-bold">{{ "Contact us!" | trans }}</span>
      <p class="fs-6">Yhteystiedot?<p>
    </div>
  </div>
</div>
