config.ttl
build
vendor
report
components
node_modules
plugins/*
!README
composer.phar
composer.lock
package-lock.json
tests/jena-fuseki*
.vagrant
.project
.DS_Store
.phpunit.result.cache
.php-cs-fixer.cache
cypress/videos/
cypress/screenshots/
/.idea
*.swp
