config.ttl
build
vendor
report
components
node_modules
plugins/*
!README
composer.phar
composer.lock
package-lock.json
tests/jena-fuseki*
.vagrant
.project
.DS_Store
.phpunit.result.cache
.php-cs-fixer.cache
tests/cypress/videos/
tests/cypress/screenshots/
/.idea
*.swp

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
