<phpunit colors="true" bootstrap="tests/bootstrap.php" processIsolation="true"
         convertDeprecationsToExceptions="true">
  <testsuites>
    <testsuite name="tests">
      <directory suffix=".php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">controller</directory>
        <directory suffix=".php">model</directory>
        <directory suffix=".php">model/sparql</directory>
        <exclude>
          <directory>vendor</directory>
        </exclude>
    </whitelist>
  </filter>
</phpunit>
