{
    "swagger": "2.0",
    "info": {
        "title": "Skosmos API",
        "version": "v1"
    },
    "host": "api.finto.fi",
    "schemes": [
        "http",
        "https"
    ],
    "basePath": "/rest/v1/",
    "produces": [
        "application/rdf+xml",
        "text/turtle",
        "application/ld+json",
        "application/json"
    ],
    "paths": {
        "/vocabularies": {
            "get": {
                "summary": "Lists the available vocabularies",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "language of labels, e.g. \"en\" or \"fi\"",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "a list of vocabularies on the server",
                        "schema": {
                            "$ref": "#/definitions/VocabularyList"
                        }
                    }
                },
                "tags": [
                    "Global methods"
                ]
            }
        },
        "/search": {
            "get": {
                "summary": "Finds concepts and collections by query term",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "the term to search for e.g. \"cat*\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "language of labels to match, e.g. \"en\" or \"fi\"",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "labellang",
                        "in": "query",
                        "description": "language of labels to return, e.g. \"en\" or \"fi\"",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "vocab",
                        "in": "query",
                        "description": "vocabulary to limit search to, e.g. \"yso\"",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "limit search to concepts of the given type, e.g. \"skos:Concept\".",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "parent",
                        "in": "query",
                        "description": "limit search to concepts which have the given concept (specified by URI) as parent in their transitive broader hierarchy",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "group",
                        "in": "query",
                        "description": "limit search to concepts in the given group (specified by URI)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "maxhits",
                        "in": "query",
                        "description": "Maximum number of results to return. If not given, maxhits will default to 100. (default settable in config.inc)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "offset where to start in ther esult set, useful for paging the result. If not given, defaults to 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "space-separated list of extra fields to include in the results. e.g. \"related\" or \"prefLabel\" or any other skos property.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "unique",
                        "in": "query",
                        "description": "boolean flag to indicate that each concept should be returned only once, instead of returning all the different ways it could match (for example both via prefLabel and altLabel).",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "data of the concepts matching the search term",
                        "schema": {
                            "$ref": "#/definitions/SearchResults"
                        }
                    }
                },
                "tags": [
                    "Global methods"
                ]
            }
        },
        "/data": {
            "get": {
                "summary": "Gets the RDF data of the requested concept",
                "parameters": [
                    {
                        "name": "uri",
                        "in": "query",
                        "description": "URI of the concept whose data to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "the MIME type of the serialization format, e.g. \"text/turtle\" or \"application/rdf+xml\"",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/rdf+xml",
                    "text/turtle",
                    "application/ld+json",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "the data of the requested concept"
                    },
                    "404": {
                        "description": "the URI did not match any known concept"
                    }
                },
                "tags": [
                    "Global methods"
                ]
            }
        },
        "/types": {
            "get": {
                "summary": "Information about the types (classes) of objects contained in all the vocabularies",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "language of labels, e.g. \"en\" or \"fi\"",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/ld+json"
                ],
                "responses": {
                    "200": {
                        "description": "the data of the requested concept",
                        "schema": {
                            "$ref": "#/definitions/TypeList"
                        }
                    }
                },
                "tags": [
                    "Global methods"
                ]
            }
        },
        "/{vocid}/": {
            "get": {
                "summary": "General information about the vocabulary",
                "parameters": [
                    {
                        "name": "vocid",
                        "in": "path",
                        "description": "The Skosmos vocabulary id e.g. stw or yso",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "language of labels, e.g. \"en\" or \"fi\"",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/ld+json"
                ],
                "responses": {
                    "200": {
                        "description": "information about the requested vocabulary",
                        "schema": {
                            "$ref": "#/definitions/VocabularyInfo"
                        }
                    },
                    "404": {
                        "description": "no vocabulary could be found with the requested id"
                    }
                },
                "tags": [
                    "Vocabulary-specific methods"
                ]
            }
        },
        "/{vocid}/types": {
            "get": {
                "summary": "Information about the types (classes) of objects in the vocabulary",
                "parameters": [
                    {
                        "name": "vocid",
                        "in": "path",
                        "description": "a Skosmos vocabulary identifier e.g. \"stw\" or \"yso\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "language of labels, e.g. \"en\" or \"fi\"",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/ld+json"
                ],
                "responses": {
                    "200": {
                        "description": "type information about the requested vocabulary",
                        "schema": {
                            "$ref": "#/definitions/TypeList"
                        }
                    },
                    "404": {
                        "description": "no vocabulary could be found with the requested id"
                    }
                },
                "tags": [
                    "Vocabulary-specific methods"
                ]
            }
        },
        "/{vocid}/topConcepts": {
            "get": {
                "summary": "Gets the top concepts of the vocabulary",
                "parameters": [
                    {
                        "name": "vocid",
                        "in": "path",
                        "description": "a Skosmos vocabulary identifier e.g. \"stw\" or \"yso\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "language of labels, e.g. \"en\" or \"fi\"",
                        "type": "string"
                    },
                    {
                        "name": "scheme",
                        "in": "query",
                        "description": "concept scheme whose top concepts to return. If not given, the default concept scheme of the vocabulary will be used.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/ld+json"
                ],
                "responses": {
                    "200": {
                        "description": "type information about the requested vocabulary",
                        "schema": {
                            "$ref": "#/definitions/TopConcepts"
                        }
                    },
                    "404": {
                        "description": "no vocabulary could be found with the requested id"
                    }
                },
                "tags": [
                    "Vocabulary-specific methods"
                ]
            }
        },
        "/{vocid}/data": {
            "get": {
                "summary": "Gets the RDF data of the vocabulary",
                "parameters": [
                    {
                        "name": "vocid",
                        "in": "path",
                        "description": "a Skosmos vocabulary identifier e.g. \"stw\" or \"yso\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The MIME type of the serialization format, e.g \"text/turtle\" or \"application/rdf+xml\". If not specified, HTTP content negotiation (based on the Accept header) is used to determine a suitable serialization format from among the available ones.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "uri",
                        "in": "query",
                        "description": "URI of concept. When no uri parameter is given, the whole vocabulary is returned instead.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/rdf+xml",
                    "text/turtle",
                    "application/ld+json",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "the RDF data of the requested vocabulary/concept"
                    },
                    "404": {
                        "description": "no vocabulary/concept could be found with the requested id/uri"
                    }
                },
                "tags": [
                    "Vocabulary-specific methods",
                    "Concept-specific methods"
                ]
            }
        },
        "/{vocid}/search": {
            "get": {
                "summary": "Finds concepts and collections from a vocabulary by query term",
                "description": "Returns a list of search results. The search is performed as a case-insensitive pattern, where an asterisk (*) may be used as wildcard. E.g. \"cat*\" may return results such as \"CATCH-22\" and \"categorization\". If decoded into RDF, the result is a vocabulary fragment expressed as SKOS.",
                "parameters": [
                    {
                        "name": "vocid",
                        "in": "path",
                        "description": "a Skosmos vocabulary identifier e.g. \"stw\" or \"yso\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "the term to search for e.g. \"cat*\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "language of labels to match, e.g. \"en\" or \"fi\"",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "limit search to concepts of the given type, e.g. \"skos:Concept\".",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "parent",
                        "in": "query",
                        "description": "limit search to concepts which have the given concept (specified by URI) as parent in their transitive broader hierarchy",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "group",
                        "in": "query",
                        "description": "limit search to concepts in the given group (specified by URI)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "maxhits",
                        "in": "query",
                        "description": "Maximum number of results to return. If not given, maxhits will default to 100. (default settable in config.inc)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "offset where to start in ther esult set, useful for paging the result. If not given, defaults to 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "space-separated list of extra fields to include in the results. e.g. \"related\" or \"prefLabel\" or any other skos property.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "unique",
                        "in": "query",
                        "description": "boolean flag to indicate that each concept should be returned only once, instead of returning all the different ways it could match (for example both via prefLabel and altLabel).",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "data of the concepts matching the search term",
                        "schema": {
                            "$ref": "#/definitions/SearchResults"
                        }
                    }
                },
                "tags": [
                    "Vocabulary-specific methods"
                ]
            }
        },
        "/{vocid}/lookup": {
            "get": {
                "summary": "Finds concepts by label",
                "description": "Returns the best matching concept(s) for the given label in JSON-LD format. In case the label matches several concepts with the same precedence, all of them are returned.",
                "parameters": [
                    {
                        "name": "vocid",
                        "in": "path",
                        "description": "a Skosmos vocabulary identifier e.g. \"stw\" or \"yso\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "label",
                        "in": "query",
                        "description": "the label to look for, e.g. \"cat\" or \"dog\"",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "search language, e.g. \"en\" or \"fi\"",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/ld+json"
                ],
                "responses": {
                    "200": {
                        "description": "type information about the requested vocabulary",
                        "schema": {
                            "$ref": "#/definitions/LookupResults"
                        }
                    },
                    "404": {
                        "description": "no concept could be found with the requested label"
                    }
                },
                "tags": [
                    "Vocabulary-specific methods"
                ]
            }
        },
        "/{vocid}/vocabularyStatistics": {
            "get": {
                "summary": "Counts the number of Concepts and Collections in the vocabulary",
                "parameters": [
                    {
                        "name": "vocid",
                        "in": "path",
                        "description": "a Skosmos vocabulary identifier e.g. \"stw\" or \"yso\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "language of labels, e.g. \"en\" or \"fi\"",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/ld+json"
                ],
                "responses": {
                    "200": {
                        "description": "the concept and group counts for the vocabulary",
                        "schema": {
                            "$ref": "#/definitions/VocabularyStatistics"
                        }
                    },
                    "404": {
                        "description": "no vocabulary could be found with the requested id"
                    }
                },
                "tags": [
                    "Vocabulary-specific methods"
                ]
            }
        },
        "/{vocid}/labelStatistics": {
            "get": {
                "summary": "Counts labels by language",
                "description": "Returns a list of label (skos:prefLabel, skos:altLabel and skos:hiddenLabel) counts in all the different languages.",
                "parameters": [
                    {
                        "name": "vocid",
                        "in": "path",
                        "description": "a Skosmos vocabulary identifier e.g. \"stw\" or \"yso\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "language of labels, e.g. \"en\" or \"fi\"",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/ld+json"
                ],
                "responses": {
                    "200": {
                        "description": "the concept and group counts for the vocabulary",
                        "schema": {
                            "$ref": "#/definitions/LabelStatistics"
                        }
                    },
                    "404": {
                        "description": "no vocabulary could be found with the requested id"
                    }
                },
                "tags": [
                    "Vocabulary-specific methods"
                ]
            }
        },
        "/{vocid}/label": {
            "get": {
                "summary": "Gets the preferred label of the requested concept",
                "parameters": [
                    {
                        "name": "vocid",
                        "in": "path",
                        "description": "a Skosmos vocabulary identifier e.g. \"stw\" or \"yso\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uri",
                        "in": "query",
                        "description": "URI of the concept whose label to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "search language, e.g. \"en\" or \"fi\"",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/ld+json"
                ],
                "responses": {
                    "200": {
                        "description": "type information about the requested vocabulary",
                        "schema": {
                            "$ref": "#/definitions/PrefAndUri"
                        }
                    },
                    "404": {
                        "description": "no concept could be found with the requested URI"
                    }
                },
                "tags": [
                    "Concept-specific methods"
                ]
            }
        },
        "/{vocid}/broader": {
            "get": {
                "summary": "Finds the broader concept of the requested concept",
                "parameters": [
                    {
                        "name": "vocid",
                        "in": "path",
                        "description": "a Skosmos vocabulary identifier e.g. \"stw\" or \"yso\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uri",
                        "in": "query",
                        "description": "URI of the concept whose label to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "search language, e.g. \"en\" or \"fi\"",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/ld+json"
                ],
                "responses": {
                    "200": {
                        "description": "the broader concept(s) of the requested concept or an empty array if there are none",
                        "schema": {
                            "$ref": "#/definitions/BroaderResult"
                        }
                    },
                    "404": {
                        "description": "no concept could be found with the requested URI"
                    }
                },
                "tags": [
                    "Concept-specific methods"
                ]
            }
        },
        "/{vocid}/narrower": {
            "get": {
                "summary": "Finds the narrower concept of the requested concept",
                "parameters": [
                    {
                        "name": "vocid",
                        "in": "path",
                        "description": "a Skosmos vocabulary identifier e.g. \"stw\" or \"yso\"",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uri",
                        "in": "query",
                        "description": "URI of the concept whose label to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "search language, e.g. \"en\" or \"fi\"",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/ld+json"
                ],
                "responses": {
                    "200": {
                        "description": "the narrower concept(s) of the requested concept or an empty array if there are none",
                        "schema": {
                            "$ref": "#/definitions/NarrowerResult"
                        }
                    },
                    "404": {
                        "description": "no concept could be found with the requested URI"
                    }
                },
                "tags": [
                    "Concept-specific methods"
                ]
            }
        }
    },
    "definitions": {
        "VocabularyList": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string"
                },
                "vocabularies": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Vocabulary"
                    }
                }
            },
            "required": [
                "uri",
                "vocabularies"
            ]
        },
        "Vocabulary": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            },
            "required": [
                "uri",
                "id",
                "title"
            ]
        },
        "TypeList": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string"
                },
                "types": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Type"
                    }
                }
            }
        },
        "Type": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string",
                    "description": "Concept scheme URI"
                },
                "label": {
                    "type": "string",
                    "description": "Label of type"
                },
                "superclass": {
                    "type": "string",
                    "description": "URI of the superclass type, which this type is an extension/specialization of"
                }
            },
            "required": [
                "uri"
            ]
        },
        "SearchResults": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string"
                },
                "vocabularies": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SearchResult"
                    }
                }
            },
            "required": [
                "uri",
                "vocabularies"
            ]
        },
        "SearchResult": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string"
                },
                "type": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "prefLabel": {
                    "type": "string"
                },
                "altLabel": {
                    "type": "string"
                },
                "hiddenLabel": {
                    "type": "string"
                },
                "lang": {
                    "type": "string"
                },
                "vocab": {
                    "type": "string"
                },
                "exvocab": {
                    "type": "string"
                }
            },
            "required": [
                "uri"
            ]
        },
        "VocabularyInfo": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "defaultLanguage": {
                    "type": "string"
                },
                "languages": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "conceptschemes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ConceptScheme"
                    }
                }
            },
            "required": [
                "uri",
                "id",
                "title",
                "defaultLanguage",
                "languages",
                "conceptschemes"
            ]
        },
        "ConceptScheme": {
            "type": "object",
            "properties": {
                "label": {
                    "type": "string",
                    "description": "Label of concept scheme (rdfs:label)"
                },
                "prefLabel": {
                    "type": "string",
                    "description": "Preferred label of concept scheme (skos:prefLabel)"
                },
                "title": {
                    "type": "string",
                    "description": "Title of concept scheme (dc:title)"
                },
                "uri": {
                    "type": "string",
                    "description": "Concept scheme URI"
                },
                "type": {
                    "type": "string",
                    "description": "Type of object (currently always \"skos:ConceptScheme\")"
                }
            }
        },
        "TopConcepts": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string"
                },
                "topconcepts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TopConcept"
                    }
                }
            },
            "required": [
                "uri",
                "topconcepts"
            ]
        },
        "TopConcept": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string",
                    "description": "URI of the concept"
                },
                "label": {
                    "type": "string",
                    "description": "Label of the concept"
                },
                "topConceptOf": {
                    "type": "string"
                },
                "notation": {
                    "type": "string",
                    "description": "Notation of the concept"
                },
                "hasChildren": {
                    "type": "boolean",
                    "description": "Boolean value indicating whether the concept has narrower concepts"
                }
            },
            "required": [
                "uri",
                "hasChildren"
            ]
        },
        "LookupResults": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SearchResult"
                    }
                }
            },
            "required": [
                "result"
            ]
        },
        "VocabularyStatistics": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Skosmos vocabulary identifier"
                },
                "title": {
                    "type": "string",
                    "description": "Vocabulary title"
                },
                "concepts": {
                    "$ref": "#/definitions/CountObject"
                },
                "subTypes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TypeCountObject"
                    }
                },
                "conceptsGroups": {
                    "$ref": "#/definitions/CountObject"
                }
            }
        },
        "CountObject": {
            "type": "object",
            "properties": {
                "class": {
                    "type": "string",
                    "description": "Class/type of concepts"
                },
                "label": {
                    "type": "string",
                    "description": "Label of the class"
                },
                "count": {
                    "type": "integer"
                }
            },
            "required": [
                "count",
                "class"
            ]
        },
        "TypeCountObject": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string",
                    "description": "Class/type of concepts"
                },
                "label": {
                    "type": "string",
                    "description": "Label of the type"
                },
                "count": {
                    "type": "integer"
                }
            },
            "required": [
                "count",
                "type"
            ]
        },
        "LabelStatistics": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "description": "Skosmos vocabulary identifier"
                },
                "title": {
                    "type": "string",
                    "description": "Vocabulary title"
                },
                "languages": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/LanguageObject"
                    }
                }
            }
        },
        "LanguageObject": {
            "type": "object",
            "properties": {
                "language": {
                    "type": "string",
                    "description": "Language code e.g. \"fi\" or \"en\""
                },
                "literal": {
                    "type": "string",
                    "description": "language name e.g. \"Finnish\" or \"English\" (if lang parameter was used)"
                },
                "properties": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/LabelCount"
                    }
                }
            },
            "required": [
                "language",
                "properties"
            ]
        },
        "LabelCount": {
            "type": "object",
            "properties": {
                "property": {
                    "type": "string",
                    "description": "property identifier, either \"skos:prefLabel\" or \"skos:altLabel\" or \"skos:hiddenLabel\""
                },
                "labels": {
                    "type": "integer",
                    "description": "number of labels with the specified property in the given language"
                }
            }
        },
        "PrefAndUri": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string",
                    "description": "URI of the concept"
                },
                "prefLabel": {
                    "type": "string",
                    "description": "Preferred label of concept"
                }
            },
            "required": [
                "uri",
                "prefLabel"
            ]
        },
        "BroaderResult": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string",
                    "description": "URI of the concept"
                },
                "broader": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/PrefAndUri"
                    }
                }
            },
            "required": [
                "uri",
                "broader"
            ]
        },
        "NarrowerResult": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string",
                    "description": "URI of the concept"
                },
                "narrower": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/PrefAndUri"
                    }
                }
            },
            "required": [
                "uri",
                "narrower"
            ]
        }
    }
}