@prefix void: <http://rdfs.org/ns/void#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix dc: <http://purl.org/dc/terms/> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix wv: <http://vocab.org/waiver/terms/norms> .        
@prefix sd: <http://www.w3.org/ns/sparql-service-description#> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix skosmos: <http://purl.org/net/skosmos#> .
@prefix : <#> .


:ysa a skosmos:Vocabulary, void:Dataset ;
	dc:title "YSA - Yleinen suomalainen asiasanasto"@fi,
		"YSA - Allmän tesaurus på finska"@sv,
		"YSA - General Finnish thesaurus"@en ;
	dc:subject :cat_general ;
	void:uriSpace "http://www.yso.fi/onto/ysa/";
	skosmos:groupClass skos:Collection;
	skosmos:language "fi";
	skosmos:shortName "YSA";
	void:dataDump <http://api.finto.fi/download/ysa/ysa-skos.ttl> ;
	void:sparqlEndpoint <http://api.dev.finto.fi/sparql> ;
	skosmos:sparqlGraph <http://www.yso.fi/onto/ysa/> .

:yso a skosmos:Vocabulary, void:Dataset ;
	dc:title "YSO - Yleinen suomalainen ontologia"@fi,
		"ALLFO - Allmän finländsk ontologi"@sv,
		"YSO - General Finnish ontology"@en ;
	dc:subject :cat_general ;
	void:uriSpace "http://www.yso.fi/onto/yso/";
	skosmos:language "fi", "sv", "en";
	skosmos:defaultLanguage "fi";
	skosmos:showTopConcepts "true";
	skosmos:shortName "YSO";
	skosmos:groupClass isothes:ConceptGroup ;
	skosmos:arrayClass isothes:ThesaurusArray ;
	void:dataDump <http://api.finto.fi/download/yso/yso-skos.ttl> ;
	void:sparqlEndpoint <http://api.dev.finto.fi/sparql> ;
	skosmos:sparqlGraph <http://www.yso.fi/onto/yso/> ;
	skosmos:mainConceptScheme <http://www.yso.fi/onto/yso/> .


:categories a skos:ConceptScheme;
	skos:prefLabel "Skosmos Vocabulary Categories"@en .

:cat_general a skos:Concept ;
	skos:topConceptOf :categories ;
	skos:inScheme :categories ;
	skos:prefLabel "Yleiskäsitteet"@fi, 
		"Allmänna begrepp"@sv,
		"General concepts"@en .
