#!/bin/bash

# directory where Siege log files are stored
LOGDIR=/var/log/skosmos-responsetime

# Base URL for web pages
WEBBASEURL=http://localhost/Skosmos

# Base URL for REST API
RESTBASEURL=http://localhost/Skosmos
