@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/eot/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('../fonts/eot/FiraSans-Light.eot') format('embedded-opentype'),
         url('../fonts/woff/FiraSans-Light.woff') format('woff'),
         url('../fonts/ttf/firasans-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('../fonts/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/woff/FiraSans-Regular.woff') format('woff'),
         url('../fonts/ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/eot/FiraSans-Medium.eot');
    src: local('Fira Sans Medium'),
         url('../fonts/eot/FiraSans-Medium.eot') format('embedded-opentype'),
         url('../fonts/woff/FiraSans-Medium.woff') format('woff'),
         url('../fonts/ttf/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/eot/FiraSans-Bold.eot');
    src: local('Fira Sans Bold'),
         url('../fonts/eot/FiraSans-Bold.eot') format('embedded-opentype'),
         url('../fonts/woff/FiraSans-Bold.woff') format('woff'),
         url('../fonts/ttf/FiraSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/eot/FiraMono-Regular.eot');
    src: local('Fira Mono'),
         url('../fonts/eot/FiraMono-Regular.eot') format('embedded-opentype'),
         url('../fonts/woff/FiraMono-Regular.woff') format('woff'),
         url('../fonts/ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/eot/FiraMono-Bold.eot');
    src: local('Fira Mono Bold'),
         url('../fonts/eot/FiraMono-Bold.eot') format('embedded-opentype'),
         url('../fonts/woff/FiraMono-Bold.woff') format('woff'),
         url('../fonts/ttf/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

