/* Replace with proper font specification */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/ttf/PublicSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/ttf/PublicSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/ttf/EBGaramond-Regular.ttf') format('truetype');
  }
 
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/ttf/EBGaramond-Bold.ttf') format('truetype');
}
