:root {
  /* Color definitions */
  --dark-color: #0d284e;
  --secondary-dark-color: #1b709d ;
  --medium-color: #dfe5ed;
  --secondary-medium-color: #b8c9db;
  --light-color: #f2f5f7;
  --alert-color: #a0270a;
  --white-color: #ffffff;
  --feedback-form-bg: var(--white-color);
  --feedback-form-text: var(--dark-color);
  --feedback-form-input: var(--light-color);
  --feedback-form-button-bg: var(--dark-color);
  --sidebar-search-bg: var(--dark-color);
  --sidebar-search-text: var(--white-color);
  --sidebar-tab-inactive-bg: var(--light-color);
  --sidebar-tab-inactive-text: var(--dark-color);
  --sidebar-tab-active-bg: var(--dark-color);
  --sidebar-tab-active-text: var(--white-color);
  --sidebar-scrollbar-bg: var(--light-color);
  --sidebar-scrollbar-thumb: var(--secondary-medium-color);
  --search-bg: var(--white-color);
  --search-dropdown-bg: var(--light-color);
  --search-border: var(--medium-color);
  --search-button-bg: var(--dark-color);
  --search-button-text: var(--white-color);
  --search-dropdown-toggle-hover-text: var(--white-color);
  --search-dropdown-toggle-hover-bg: var(--dark-color);
  --vocab-bg: var(--white-color);
  --vocab-text: var(--dark-color);
  --vocab-table-border: var(--medium-color);
  --vocab-link: var(--secondary-dark-color);
  --vocab-box-text: var(--dark-color);
  --tooltip-fg-color: var(--light-color);
  --tooltip-bg-color: var(--dark-color);
  --tooltip-border-color: var(--secondary-medium-color);

  /* Font definitions */
  --font-size: 1em; /* same as the browser default font size, often 16px */
  --font-family: 'Public Sans', sans-serif;
  --font-family-heading: 'EB Garamond', serif;
}

body {
  color: var(--dark-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.bg-dark {
  background-color: var(--dark-color) !important;
}

.bg-medium {
  background-color: var(--medium-color) !important;
}

.bg-light {
  background-color: var(--light-color) !important;
}

/* Font awesome
 *****************************************/
  #main-container.landing #info-box .fa-arrow-right {
    color: var(--secondary-dark-color);
  }

  #main-container.landing-one-vocab #info-box .fa-arrow-right {
    color: var(--secondary-dark-color);
  }

  #vocab-box .fa-arrow-right {
    color: var(--secondary-dark-color);
  }

  #main-container.vocab-home .fa-arrow-right, #main-container.concept .fa-arrow-right {
    color: var(--vocab-text);
    font-size: .75rem;
    margin: 0 5px;
  }

  #main-container.vocab-search  .fa-arrow-right {
    color: var(--vocab-text);
    font-size: .85rem;
  }

  #main-container.vocab-search .list-group .fa-solid, #main-container.vocab-search  .list-group .fa-regular {
    color: var(--vocab-text);
    font-size: 1.15rem;
    width: 20px;
    text-align: center;
  }

  .fa-magnifying-glass {
    color: var(--search-button-text);
    font-size: 1.6rem;
    margin: calc((38px - 22px) / 2 ) 0; /* (button height - font height) / 2 */
  }

  .fa-download {
    color: var(--vocab-text);
  }

  /* Topbar
   *****************************************/
  #topbar.landing, #topbar.landing-one-vocab {
    background-color: var(--topbar-bg-1);
    color: var(--topbar-text-1);
  }

  #topbar.vocab-home, #topbar.concept, #topbar.about, #topbar.feedback {
    background-color: var(--topbar-bg-2);
    color: var(--topbar-text-2);
  }

  #topbar.landing a, #topbar.landing-one-vocab a {
    color: var(--topbar-text-1) !important;
  }

  #topbar.vocab-home a, #topbar.concept a, #topbar.about a, #topbar.feedback a {
    color: var(--topbar-text-2) !important;
  }

  #topbar h3 {
    display: inline;
    font-weight: bold;
  }

  #multi-search-toggle {
    background-color: var(--topbar-bg-1);
    color: var(--topbar-text-1);
    border: none;
  }

  #multi-search-toggle::after {
    content: '﹀';
    position: absolute;
    top: 30px;
    left: 205px;
  }

  #skosmos-logo-top {
    background-image: url(../pics/skosmos-NEGA-RGB.svg);
    background-repeat: no-repeat;
    width: 168px;
    height: 60px;
  }

  #skosmos-logo-top h2 {
    text-indent: -100%;
  }

  .topbar-nav-link {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40%;
    padding-left: 30px;
  }

  /* Headerbar
   *****************************************/
  #headerbar.landing, #headerbar.landing-one-vocab {
    color: var(--dark-color);
  }

  #headerbar.vocab-home, #headerbar.concept {
    background-color: var(--headerbar-vocab-bg);
  }

  #skosmos-logo {
    background-image: url(../pics/skosmos-RGB.svg);
    background-repeat: no-repeat;
    background-position: -8px -15px;
    width: 300px;
    height: 80px;
    background-size: 300px;
  }

  #vocab-title {
    font-size: 2.5rem;
  }

  #vocab-title a {
    color: var(--vocab-text);
    font-family: var(--font-family-heading);
  }

  #search-multi-vocab-title {
    color: var(--vocab-text);
    font-family: var(--font-family-heading);
  }

  #search-multi-vocab {
    width: 800px;
  }

  #search-wrapper {
    color: var(--vocab-text);
    float: right;
    height: 3.5em;
}

  #search-wrapper select, #search-wrapper input, #search-wrapper button {
    height: 100%;
  }

  #search-wrapper button.dropdown-toggle {
    background-color: var(--search-bg);
    color: var(--vocab-text);
    border: 1px solid var(--search-border);
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #search-wrapper button.dropdown-toggle i {
    padding-left: 0.25rem;
    font-size: 0.75rem;
  }

  #search-wrapper button.btn.dropdown-toggle::after {
    display: none !important;
  }

  #search-wrapper #language-list {
    inset: -3px auto auto 0px !important;
    background-color: var(--search-bg);
    color: var(--vocab-text);
    border: 1px solid var(--search-border);
    border-radius: 0;
  }

  #search-wrapper #language-list li a:hover, #search-wrapper #language-list li a:active {
  color: var(--search-dropdown-toggle-hover-text);
    background-color: var(--search-dropdown-toggle-hover-bg);
  }

  #search-wrapper .form-check-input {
    background-color: var(--search-bg);
    border-radius: 0;
  }

  #search-wrapper .form-check-input:checked {
    background-color: var(--vocab-text);
  }

  #search-wrapper input {
    background-color: var(--search-bg);
    border-color: var(--search-border);
    border-radius: 0;
  }

  #search-wrapper span.dropdown {
    width: 25rem;
    z-index: 4;
  }

  #search-wrapper .form-control:focus, #search-wrapper select:focus {
    border-color: var(--search-border) !important;
    box-shadow: inset 0 0 5px rgba(196, 205, 217, 1) !important;
  }

  #search-wrapper .dropdown-menu {
    transform: translateY(-1px);
    background-color: var(--search-dropdown-bg);
    color: var(--vocab-text);
    border: 1px solid var(--search-border);
    border-radius: 0;
  }

  #search-wrapper ul {
    padding-top: 0rem;
    padding-bottom: 0rem;
    max-height: 50vh;
    overflow-y: auto;
  }

  /* Setting scrollbar style separately in Firefox */
  @-moz-document url-prefix() {
    #search-wrapper ul {
      scrollbar-color: var(--sidebar-scrollbar-thumb) var(--search-dropdown-bg);
    }
  } 

  /* Setting scrollbar style for Webkit based browsers (Chrome, Safari, Edge, etc) */
  #search-wrapper ul::-webkit-scrollbar {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #search-wrapper ul::-webkit-scrollbar:vertical {
      width: 15px;
  }

  #search-wrapper ul::-webkit-scrollbar-thumb {
      border-radius: 0px;
      border: 1px solid var(--sidebar-scrollbar-thumb);
      background-color: var(--sidebar-scrollbar-thumb);
  }

  #search-wrapper ul::-webkit-scrollbar-track { 
      background-color: var(--search-dropdown-bg); 
      border-radius: 0px; 
  }

  #search-wrapper .autocomplete {
    position: relative;
  }

  #search-wrapper .autocomplete-result {
    border-top: 1px solid var(--search-border);
    margin: auto;
  }

  #search-wrapper .autocomplete-result * {
    text-decoration: none;
    color: var(--dark-color);
  }

  #search-wrapper .autocomplete-result span.result {
    color: var(--vocab-link);
  }

  #search-wrapper .autocomplete-result span.d-inline {
    white-space: nowrap;
  }

  /* Remove built-in x button from Internet Explorer */
  #search-wrapper input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
  #search-wrapper input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
  
  /* Remove built-in x button from Chrome */
  #search-wrapper input[type="search"]::-webkit-search-decoration,
  #search-wrapper input[type="search"]::-webkit-search-cancel-button,
  #search-wrapper input[type="search"]::-webkit-search-results-button,
  #search-wrapper input[type="search"]::-webkit-search-results-decoration { display: none; }

  #search-button {
    background-color: var(--search-button-bg);
    border: 1px solid var(--search-border);
    border-radius: 0;
    padding: 0;
    width: 3.5em;
  }

  #clear-button {
    position: absolute;
    color: var(--vocab-text);
    background: none;
    border: none;
    top: 0;
    right: 50px;
    height: 40px;
    width: 40px;
    padding: 0;
    font-size: 1.4rem;
    z-index: 5;
  }

  /* Main container
   *****************************************/
  .container {
    max-width: 1460px !important;
  }

  #main-container {
    padding-top: 2.4rem;
  }

  #main-container h1 {
    font-family: var(--font-family-heading);
    font-weight: bold;
  }

  #main-container-row {
    --bs-gutter-x: 2rem;
  }

  .mb-gutterwidth {
    margin-bottom: var(--bs-gutter-x);
  }

  /***** Main container landing page & landing page one vocab *****/
  #background.landing, #background.landing-one-vocab {
    background-color: var(--main-bg-1);
    background-image: var(--landing-stripes-1);
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: calc(100% + 41px) -55px;
  }

  #main-container.landing, #main-container.landing-one-vocab {
    background-image: var(--landing-stripes-2);
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: -41px calc(100% + 55px);
    padding-top: 0;
  }

  #vocab-box, #welcome-box, #info-box {
    padding: 2.5rem 2rem;
  }

  #info-box a {
    color: var(--info-box-text);
    text-decoration: none;
  }

  /*** Main container landing page ***/

  #vocabulary-list h2, #welcome-box h2, #vocab-info h2 {
    font-family: var(--font-family-heading) !important;
  }
  header > h2 > a {
    font-family: var(--font-family-heading) !important;
    color: var(--dark-color)
  }
  #vocabulary-list .list-group-item {
    background-color: var(--medium-color) !important;
  }
  #vocabulary-list .border-top {
    border-top: 2px var(--dark-color) solid !important;
    color: var(--secondary-dark-color);
  }

  .vocab-category {
    border-top: 1px solid var(--vocab-box-text);
    color: var(--vocab-box-text);
  }

  .vocab-category h3 {
    color: var(--vocab-box-text);
  }

  .vocab-category a {
    color: var(--vocab-link);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--secondary-medium-color);
    text-underline-offset: 0.3rem;
  }

  #main-container.landing #vocab-box h2 {
    color: var(--vocab-box-header);
  }

  #main-container.landing #welcome-box {
    background-color: var(--welcome-box-bg);
    color: var(--welcome-box-text);
  }

  #main-container.landing #info-box {
    background-color: var(--info-box-bg);
    justify-content: center;
  }

  /*** Main container landing page one vocab ***/
  #main-container.landing-one-vocab #vocab-box {
    background-color: var(--vocab-box-one-bg);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #main-container.landing-one-vocab #vocab-box a {
    color: var(--vocab-box-one-text);
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

  #main-container.landing-one-vocab #welcome-box {
    background-color: var(--welcome-box-one-bg);
    color: var(--welcome-box-one-text);
  }

  #main-container.landing-one-vocab #info-box {
    background-color: var(--info-box-one-bg);
  }

  /***** Main container vocab-home & concept & vocab-search pages *****/
  #main-container.vocab-home, #main-container.concept, #main-container.vocab-search  {
    background-color: var(--main-bg-2);
  }

  #main-container.vocab-home a, #main-container.concept a, #main-container.vocab-search a {
    color: var(--vocab-link);
    text-decoration: none;
    font-weight: bold;
  }

  /*** Sidebar concept & vocab-home pages ***/

  #main-container.vocab-home #sidebar-col, #main-container.concept #sidebar-col {
    background-color: var(--vocab-bg);
    background-clip: content-box, padding-box;
    min-height: 1000px;
  }

  #main-container.vocab-home #sidebar, #main-container.concept #sidebar {
    background-color: var(--vocab-bg);
  }

  #main-container.vocab-home #sidebar .nav, #main-container.concept #sidebar .nav {
    background-color: var(--sidebar-tab-inactive-bg);
  }

  #main-container.vocab-home #sidebar .nav-link, #main-container.concept #sidebar .nav-link {
    color: var(--sidebar-tab-inactive-text) !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
  }

  #main-container.vocab-home #sidebar .nav .active, #main-container.concept #sidebar .nav .active {
    background-color: var(--sidebar-tab-active-bg);
    color: var(--sidebar-tab-active-text) !important;
  }

  #main-container.vocab-home #sidebar .pagination, #main-container.concept #sidebar .pagination {
    background-color: var(--sidebar-tab-active-bg);
    padding: 1rem;
    margin: 0;
    flex-wrap: wrap;
  }

  #main-container.vocab-home #sidebar .page-item, #main-container.vocab-home #sidebar .page-link,
  #main-container.concept #sidebar .page-item, #main-container.concept #sidebar .page-link {
    background-color: var(--sidebar-tab-active-bg);
    color: var(--sidebar-tab-active-text) !important;
    font-weight: normal !important;
    border: none;
    border-radius: 0 !important;
    margin: 0 !important;
    transition: none;
    width: 35px;
  }

  #main-container.vocab-home #sidebar .page-link, #main-container.concept #sidebar .page-link {
    display: flex;
    align-content: center;
    text-align: center;
  }

  /* what to do with these */
  #main-container.vocab-home #sidebar .page-link:hover, #main-container.vocab-home #sidebar .page-link:active, #main-container.vocab-home #sidebar .page-link:focus,
  #main-container.concept #sidebar .page-link:hover, #main-container.concept #sidebar .page-link:active, #main-container.concept #sidebar .page-link:focus {
    background-color: var(--sidebar-tab-active-bg);
    color: var(--sidebar-tab-active-text);
    box-shadow: none;
  }

  #sidebar .loading-message {
    padding: 2rem 1rem;
  }

  .sidebar-list {
    padding: 2rem 1rem 0 1rem;
    overflow-y: scroll;
    position: absolute;
  }

  /* Setting scrollbar style separately in Firefox */
  @-moz-document url-prefix() {
    .sidebar-list {
      scrollbar-color: var(--sidebar-scrollbar-thumb) var(--search-dropdown-bg);
    }
  } 

  /* Setting scrollbar style for Webkit based browsers (Chrome, Safari, Edge, etc) */
  .sidebar-list::-webkit-scrollbar {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .sidebar-list::-webkit-scrollbar:vertical {
      width: 15px;
  }

  .sidebar-list::-webkit-scrollbar-thumb {
      border-radius: 0px;
      border: 1px solid var(--sidebar-scrollbar-thumb);
      background-color: var(--sidebar-scrollbar-thumb);
  }

  .sidebar-list::-webkit-scrollbar-track { 
      background-color: var(--sidebar-scrollbar-bg);
      border-radius: 0px; 
  }

  .sidebar-list .list-group-item {
    border: none;
    border-radius: none;
  }

  .sidebar-list a {
    font-weight: bold !important;
  }

  .sidebar-list a.selected {
    color: var(--vocab-text) !important;
  }

  /*** sidebar changes tab ***/
  #tab-changes .sidebar-list h2 {
    color: var(--vocab-text);
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
  }

  /* All headings except first */
  #tab-changes .sidebar-list li + li h2 {
    margin-top: 1.5rem !important;
  }

  #tab-changes .sidebar-list s {
    text-decoration: 1px var(--vocab-text) line-through;
  }

  /*** sidebar hierarchy and groups tabs ***/
  #tab-hierarchy .sidebar-list .list-group-item,
  #tab-groups .sidebar-list .list-group-item {
    border-left: 1px dashed var(--vocab-text);
    border-radius: 0;
    white-space: nowrap;
  }

  #tab-hierarchy .sidebar-list .list-group-item.top-concept,
  #tab-groups .sidebar-list .list-group-item.top-concept {
    border: none;
  }

  #tab-hierarchy .sidebar-list .list-group-item .concept-label,
  #tab-groups .sidebar-list .list-group-item .concept-label {
    display: inline-block;
    border-left: 1px dashed var(--vocab-text);
    margin-left: 16px;
    padding-left: 14px;
    padding-right: 14px;
    white-space: wrap;
  }

  /* horizontal line before concept */
  #tab-hierarchy .sidebar-list .list-group-item .concept-label::before,
  #tab-groups .sidebar-list .list-group-item .concept-label::before {
    content: '';
    position: absolute;
    left: 16px;
    top: 0;
    width: 10px;
    height: 13px;
    border-bottom: 1px dashed var(--vocab-text);
  }

  /* hiding bottom of vertical line on last concept of list */
  #tab-hierarchy .sidebar-list .list-group-item .concept-label.last::before,
  #tab-groups .sidebar-list .list-group-item .concept-label.last::before {
    top: auto;
    bottom: 0;
    height: calc(100% - 13px);
    border-left: 1px solid var(--vocab-bg);
    border-top: 1px dashed var(--vocab-text);
    border-bottom: none;
  }

  /* no border for children of the last concept */
  #tab-hierarchy .sidebar-list .list-group-item span.last + ul > li,
  #tab-groups .sidebar-list .list-group-item span.last + ul > li  {
    border: none;
    margin-left: 1px !important; /* add a 1px margin to offset missing border */
  }

  #tab-hierarchy .sidebar-list .list-group-item .concept-notation,
  #tab-groups .sidebar-list .list-group-item .concept-notation {
    color: var(--dark-color);
  }

  #tab-hierarchy .sidebar-list .list-group-item a.selected .concept-notation,
  #tab-groups .sidebar-list .list-group-item a.selected .concept-notation {
    font-weight: bold;
  }

  #tab-groups .sidebar-list .list-group-item .concept-label i {
    color: var(--dark-color);
    font-size: 1rem;
  }

  .hierarchy-button {
    background-color: transparent;
    color: var(--vocab-text);
    border: none;
    padding: 0;
    font-size: 0.7rem;
  }

  .hierarchy-button:hover, .hierarchy-button:active {
    background-color: transparent !important;
    color: var(--vocab-text) !important;
  }

  .hierarchy-button i {
    position: absolute;
    left: 11px;
    top: 7px;
    z-index: 1;
    font-size: .85rem;
  }

  .hierarchy-button img {
    transform: rotate(-45deg);
    position: absolute;
    top: 9px;
    left: 11px;
    width: 7px;
    z-index: 1;
  }

  .hierarchy-button.open img {
    transform: rotate(0deg);
    left: 12px;
  }

  /*** sidebar vocab-search ***/
  #main-container.vocab-search #sidebar {
    background-color: var(--sidebar-search-bg);
    color: var(--sidebar-search-text);
    height: 1000px; /* change */
  }

  #search-options input, #search-options select {
    border: none;
    border-radius: 0;
  }

  #search-options button {
    background-color: var(--sidebar-search-button-bg); /* Which bg color to use? */
    color: var(--sidebar-search-button-text);
    border: none;
    border-radius: 0;
  }

  #search-options select {
    background-image: none;
  }

  .select-wrapper { /* Also used in feedback form */
    position: relative;
  }

  .select-wrapper::after { /* Also used in feedback form */
    color: var(--vocab-text);
    content: '﹀';
    font-size: 1.4rem;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /*****  Main content vocab-home & concept pages *****/
  #main-content h1 {
    font-size: 2.5rem;
  }

  .main-content-section {
    background-color: var(--vocab-bg);
    margin-bottom: .2rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  #concept-heading, #vocab-heading {
    margin-top: 2rem;
    padding-bottom: 2.5rem;
  }

  #vocab-heading, .vocab-statistics, #vocab-download-links {
    margin-left: -.75rem;
    margin-right: -.75rem;
  }

  .property {
    border-top: 1px solid var(--vocab-table-border);
    padding: .5rem 0;
  }

  .property.prop-mapping {
    border-top: none;
  }

  .property-label h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
    display: inline;
  }

  .property-value {
    color: var(--vocab-text);
    border: none;
  }

  .property-value .property-value-notation {
    color: var(--vocab-text);
  }

  #resource-table th {
    color: var(--vocab-text);
    font-weight: bold;
    border-bottom: 1px solid var(--vocab-text);
  }

  #resource-table td {
    color: var(--vocab-text);
    border: none;
  }

  .resource-table-label {
    width: 40%;
  }

  /*** Main content concept page ***/
  nav#concept-breadcrumbs ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0.5rem;
  }

  nav#concept-breadcrumbs li, nav#concept-breadcrumbs li.collapse.show {
    display: inline;
  }

  nav#concept-breadcrumbs li.collapse, nav#concept-breadcrumbs li:has(a[aria-expanded="true"]) {
    display: none;
  }

  nav#concept-breadcrumbs li.breadcrumb + li::before {
    content: "> ";
  }

  nav#concept-breadcrumbs .breadcrumb-current {
    color: var(--dark-color);
    font-weight: normal;
  }

  #concept-property-label {
    align-self: start;
    padding-top: 1.25rem;
  }

  #concept-label h1 {
    display: inline;
  }

  #copy-preflabel, #copy-notation {
    color: var(--vocab-text);
    font-size: 2.1rem;
    position: relative;
    bottom: 10px;
    left: 5px;
  }

  #copy-uri {
    color: var(--vocab-text);
    position: relative;
    bottom: 4px;
  }

  .copy-clipboard:focus {
    border: 1px solid var(--vocab-text);
    border-radius: 3px;
  }

  .property ul, .property li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
  }

  .prop-skos_altLabel .property-value li, .altlabel {
    font-style: italic;
  }

  .prop-foreignlabels h3 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  #download-links li {
    display: inline-block;
  }

  #date-info {
    font-size: 0.85rem;
  }

  /***** Main content vocab-search & global-search pages *****/
  #search-results {
    background-color: var(--vocab-bg);
  }
  .search-result {
    border-top: 1px solid var(--vocab-table-border);
    margin-top: 2.5rem;
  }

  .search-result-term a {
    font-family: var(--font-family-heading);
    text-decoration: none;
  }

  .search-result .list-group-item {
    color: var(--vocab-text);
    border: none;
    cursor: default;
  }

  .search-result .list-group-item a {
    cursor: pointer;
  }

  .search-result-hide {
    position: absolute;
    right: 0;
    background: linear-gradient(
                  90deg,
                  transparent,
                  var(--vocab-bg) 35%,
                  var(--vocab-bg) 0%);
  }

  .search-result-list {
    display: block;
    white-space: nowrap;
    position: relative;
  }

  .search-result-hidden {
    display: block;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
  }

  .search-result-showall {
    display: block;
    white-space: normal;
    overflow: visibile;
  }

  .uri-icon {
    display: inline-block;
    width: 20px;
    font-size: 0.75rem;
    text-align: center;
  }
  
  .prefLabel.proplabel {
    font-weight: bold;
    color: var(--secondary-dark-color);
  }
  
  .altLabel.proplabel {
    font-style: italic;  
  }

  /***** Main container about & feedback pages *****/
  #main-container.about, #main-container.feedback {
    background-color: var(--main-bg-3);
    color: var(--about-text);
    padding: 4rem 0;
  }

  #main-container.about .container, #main-container.feedback .container {
    padding: 0 12rem;
  }

  /*** Main container about page ***/
  #main-container.about {
    background-image: var(--about-stripes);
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: calc(100% + 41px) calc(100% + 55px);
  }

  #main-container.about a {
    color: var(--about-link);
    text-decoration: underline;
    font-weight: bold;
  }

  /*** Main container feedback page ***/
  #main-container.feedback {
    background-image: var(--feedback-stripes);
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: var(--feedback-stripes-pos);
  }

  #feedback-form {
    background-color: var(--feedback-form-bg);
    color: var(--feedback-form-text);
    padding: 2.5rem 2rem 5rem;
  }

  #feedback-form label {
    font-weight: bold;
  }

  #feedback-form input, #feedback-form select, #feedback-form textarea {
    background-color: var(--feedback-form-input);
    border: none;
    border-radius: 0;
  }

  #feedback-form input::placeholder {
    color: var(--feedback-form-text);
  }

  #feedback-form textarea {
    margin-bottom: 4rem;
  }

  #feedback-form button {
    background-color: var(--feedback-form-button-bg);
    border: none;
    border-radius: 0;
    font-weight: bold;
    float: right;
  }

  #feedback-form select {
    background-image: none;
  }

  #feedback-form select:valid {
    color: var(--feedback-form-text);
  }

  #feedback-form select:valid:focus {
    color: var(--feedback-form-text);
  }

  /* Error page
   *****************************************/
  .alert {
    background-color: var(--alert-color);
    color: var(--white-color);
    border-radius: 0;
  }

 /* About page
   *****************************************/
  #about-content a {
    font-size: 1.0rem;
    color: var(--vocab-link);
    text-decoration: underline var(--secondary-medium-color) solid;
    font-weight: 700;
  }

  #alphabetical-menu > .list-group > .list-group-item {
    border: none !important;
  }

  .vocab-statistics > h3 {
    font-size: 1.4rem;
  }

/* Tooltips */

.tooltip-html {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#concept-label .tooltip-html {
  bottom: 4px;
}

.tooltip-html button {
  line-height: 1.0;
  padding: 3px;
  margin: -3px;
}

.tooltip-html button:focus {
  border: 2px solid var(--vocab-text);
  border-radius: 0;
  margin: -4px;
}

.tooltip-html:hover .tooltip-html-content, .tooltip-html:focus-within .tooltip-html-content {
  visibility: visible;
  opacity: 1;
}

.tooltip-html-content {
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  left: 0;
  display: block;
  cursor: text;
  width: 400px;
  color: var(--tooltip-fg-color);
  background-color: var(--tooltip-bg-color);
  border: 3px solid var(--tooltip-border-color);
  z-index: 9001;
  visibility: hidden;
  opacity: 0;
  padding: 0.25rem 0.5rem;
}

/* The triangle that appears near the element that triggered it. */
.tooltip-html-content:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  top: -7px;
  left: 0;
  margin-left: 2px;
  color: var(--tooltip-fg-color);
  border-top: 6px solid var(--tooltip-border-color);
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid var(--tooltip-border-color);
  z-index: 9002;
}

/* Definition lists used in tooltips. */

dl.tooltip-html-content dt {
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 0.4em;
}

dl.tooltip-html-content dt::after {
  content: ":";
}

dl.tooltip-html-content dd {
  display: block;
}
