:root {
  /* Color definitions */
  --dark-color: #394554; /* topbar nav link text, dropdown text, buttons */
  --secondary-dark-color: #3C535B; /* disabled buttons, bg of "content language" dropdown label in header */
  --medium-color: #00748F; /* used for skosmos service name (top left logo), link texts (a), header bar, hovered dropdown menu items, placeholders in form input fields */
  --light-color: #D4EDEB; /* used for concept property dividers */
  --link-hover-color: #23527C; /* used for hovered links, clipboard icon */
  --tooltip-bg-color: #1E1E1E;
  --tooltip-text-color: #00ACD3;
  --tooltip-border-color: #75889F; /*also used as typeahead focus border */
  --main-bg-color: #D5DBDE;
  --alert-color-pale: #D95F8A;
  --alert-color-bright: #ED0D6C;
  --uri-id-text-color: #006621; /* only used in search results */

  --white-color: #FFFFFF; /**/
  --gray-100: #F6F7F8;
  --gray-200: #EDF0F2;
  --gray-300: #E6E9EB;
  --gray-400: #E0E4E7;
  --gray-500: #CCCCCC;
  --gray-600: #B9C1C6;
  --gray-700: #999999;
  --gray-750: #888888;
  --gray-800: #74787A;
  --gray-850: #555555;
  --gray-900: #474B4F;
  /* Font definitions */
  /* N.B.: Bootstrap 5 sets it to 1rem (16px), while Skosmos had it set to 14px... */
  --font-size: 14px;
  --font-family: 'Fira Sans', sans-serif;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container:after, .container:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: table;
  content: " ";
}

/* Font definitions
 *****************************************/
li, td > a {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

h1, .prefLabel, .prefLabelLang, .notation {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
}

.prefLabel, .prefLabelLang, .notation {
  font-weight: 500;
}

.prefLabelLang {
  color: var(--gray-900);
}

#service-name {
  font-size: 27px;
  font-weight: bold;
}

p {
  color: var(--gray-900);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0 0 10px 0;
}

h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 12px; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2, h3 {
  font-size: 16px;
}

.navigation-font {
  font-family: var(--font-family);
  font-size: 16px;
}

.multiselect span, .multiselect a, .dropdown-toggle, #search-all-button, .qtip-skosmos * {
  font-family: var(--font-family);
}

.topbar a.navigation-font, .topbar span {
  color: var(--dark-color);
}

p {
  color: var(--gray-900);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.bread-crumb {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.versal {
  color: var(--gray-900);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
}

.versal-bold {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: bold;
}

a, a.versal, .nav-link, .nav-link.active, .jstree-node > .jstree-anchor {
  color: var(--medium-color);
}

.loading-spinner {
  margin: 10px 0 0 15px;
}

.concept-spinner {
  background:url("../pics/alt.gif") no-repeat transparent;
  background-position: center 130px;
  height: 100px;
  padding-top: 180px;
  text-align: center;
  width: 150px;
}

.replaced {
  font-style: italic;
}

.nav-link:link,.nav-link:visited,.nav-link:active,.nav-link:hover,.nav-link:focus {
  text-decoration: none;
  outline-offset: 1px;
}

.nav-link:hover,.nav-link:focus {
  color: var(--link-hover-color);
}

a:link,a:visited,a:active,a:hover,a:focus {
  text-decoration: none;
  outline-offset: 1px;
}

:focus {
  outline: 2px dotted var(--gray-900);
  z-index: 1;
}

#maincontent:focus {
  outline: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
  /* All text links have underlining when hovered. */
}

a:focus {
  color: var(--link-hover-color);
}

#service-logo {
  display: inline-block;
}

/* basics
 ***************************/

html,body {
  background-color: var(--main-bg-color);
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

ul {
  list-style: none;
}

/**
 * Bootstrap 5 added a margin in the :after element of the caret. This removes the extra space.
 */
.btn .caret {
  margin: 0 !important;
}

@media print { /* Quick style sheet for printing. */
  body * {
    visibility: hidden;
  }

  /* Everything under the print class elements will be printed. */
  .print,.print * {
    visibility: visible;
  }

  /* Position elements at the beginning of the page. */
  .print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.main-container {
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.spinner {
  background:url("../pics/spinner.gif") no-repeat transparent;
  display:inline-block;
  height: 25px;
  margin-left: 5px;
  vertical-align: middle;
  width: 25px;
}

/* Generic screen reader class
 * Code from https://webaim.org/techniques/css/invisiblecontent/
 ***************************/

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* topbar styles
 ***************************/

.topbar {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  min-height: 50px;
  margin: auto;
  margin-bottom: 20px;
}

#topbar-service-helper {
  display: inline-flex;
  flex-grow: 1;
  margin-bottom: -23px;
  height: max-content;
}

#topbar-language-navigation:before {
  content: '';
  display: flex;
  width: 100%;
  align-self: start;
  margin-bottom: -10px;
  margin-top: 26px;
}

#topbar-language-navigation {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

.topbar > a {
  display: inline-block;
  margin-right: 10px;
  left: 2.5%;
  position: sticky;
}

.topbar-white {
  background-color: var(--white-color);
}

#service-name {
  line-height: 50px;
  margin: 0px 4px;
}

.topbar-white > #language, .topbar-white > #navigation {
  background: var(--white-color);
}

#language {
  display: inline-flex;
  order: 2;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-top: 5px;
  margin-bottom: 2px;
}

#language:after {
  display: block;
  content: "";
  margin-top: 5px;
}

.topbar:after {
  content: '';
  display: block;
  width: 100%;
  margin-top: -10px;
  height: 5px;
}

#language > .dropdown-menu {
  z-index: 9002;
  border-radius: 0;
  padding: 0;
  min-width: 160px;
}

#language > .dropdown-menu > .dropdown-item, #language > .dropdown-menu > .dropdown-item > a {
  margin: 0;
}

#language > .dropdown-menu > .dropdown-item {
  padding: 0;
}

#language > .dropdown-menu > .dropdown-item > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  text-decoration: none;
  color: #333;
}

#language > .dropdown-menu > .dropdown-item > a:hover {
  color: #fff;
}

#language > .dropdown-toggle {
  background: none;
  border: none;
  border-radius: 0;
  color: var(--dark-color);
  padding: 0;
}

#language > .dropdown-toggle:hover, #language > .dropdown-toggle:focus, #language > .dropdown-toggle:active, #language > .dropdown-toggle:visited {
  background: none;
}

#navigation {
  display: inline-flex;
  order: 1;
  max-width: 530px;
  min-width: 0;
  width: auto;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-top: 5px;
  margin-bottom: 2px;
}

#navigation .navigation-font, #language * {
  margin: auto 4px;
  min-width: max-content;
}

#navigation .navigation-font {
  margin: auto 8px;
}

#language-en {
  margin-right: 0;
}

#navigation .link-bg {
  height: 60px;
  float: left;
}

#navi4 {
  cursor: default;
  align-self: center;
}

#navi4 > span {
  border-bottom: 2px dotted var(--gray-500);
}

/* headerbar stuff
 *************************/

.header-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
}

.dropdown-toggle::after {
  vertical-align: middle;
}

#lang-dropdown-toggle .caret, .multiselect span > .caret {
  border-top-color: var(--white-color);
}

#lang-dropdown-toggle:focus,
.multiselect-container .multiselect-all:focus,
.multiselect-container .multiselect-all:hover,
.multiselect-container .multiselect-option:focus,
.multiselect-container .multiselect-option:hover,
.multiselect-container .multiselect-option:hover,
.dropdown-item.active,
#search-all-button:focus {
  outline: 3px solid white;
  background-color: var(--medium-color) !important;
  color: var(--white-color) !important;;
  box-shadow: none;
}

.navbar-form .dropdown-menu {
  border-radius: 0;
  margin-top: 0;
  padding: 0;
  top: 40px;
  max-height: 290px;
  overflow-y: auto;
}

.navbar-form .dropdown-menu > .dropdown-item {
  padding: 0;
}

.navbar-form .dropdown-menu > .dropdown-item > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  text-decoration: none;
}

.header-float > .navbar-form {
  box-shadow: none;
  display: flex;
}

.header-float > .navbar-form > .input-group {
  display: inline-flex;
  flex-wrap: nowrap;
}

.header-float > .navbar-form > .input-group > .input-group-btn {
  display: inline-flex;
  width: initial;
}

ul.dropdown-menu > li.dropdown-item:last-child > input {
  display: none;
}

.dropdown-menu.show {
  border-radius: 0;
  transform: translate3d(0px, 22px, 0px) !important;
}

.header-float .multiselect > .caret {
  position: absolute;
  right: 5px;
  top: 18px;
}

.header-float > .multiselect-native-select > .btn-group > button {
  overflow: hidden;
  width: 175px;
  text-align: right !important;
}

.header-float > .multiselect-native-select > .btn-group > .multiselect-container {
  width: 175px;
}

.multiselect > span {
  position: unset;
  right: 20px;
  top: 10px;
}

.multiselect-container > li > a.active, .multiselect-container > li > a:focus, .dropdown-menu > .dropdown-item:hover > a, .dropdown-menu > .active:focus > a, .dropdown-menu > .active:hover > a  {
  background-color: var(--medium-color);
  color: var(--white-color);
}

.multiselect.dropdown-toggle:after {
  display: inline-block;
}

.multiselect-container > li > a > label {
   padding: 3px 20px 3px 25px;
   word-wrap: break-word;
   white-space: pre-line;
}

.multiselect-all > .form-check {
  padding: 3px 20px;
}

/* Used by bootstrap-multiselect */
.font-weight-bold {
  font-weight: bold;
}

.headerbar {
  margin: 0 auto;
  position: relative;
  width: 95%;
  display: flex;
  margin-bottom: 15px;
}

.headerbar.frontpage-spacing {
  margin-bottom: 25px;
}

.headerbar-coloured {
  position: absolute;
  background-color: var(--medium-color);
  width: 100%;
  height: 50px;
}

.header-left {
  margin: 0 15px 0 15px;
  max-width: calc(100% - 30px);
  max-height: 50px;
  display: inline-flex;
  flex-grow: 1;
}

.header-left > h1 {
  background-color: var(--medium-color);
  line-height: 50px;
  margin: 0;
  opacity: 0.99;
  overflow: hidden;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-left > h1 > a {
  color: var(--white-color);
  height: 50px;
}

.header-float {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.frontpage-spacing > .header-float {
  margin: 0;
  margin-left: auto;
}

.headerbar-coloured > .header-float > p {
  color: var(--white-color);
}

.topbar a.navigation-font:hover {
  text-decoration: underline;
}

.navbar-form {
  border: 0;
  margin: 0;
  padding: 0;
}

.search-result-listing {
  background-color: var(--white-color);
}

.search-result-listing > p:last-of-type {
  margin-left: 15px;
}

.search-result-listing > .search-result:last-of-type {
  margin-bottom: 10px;
}

#search-from-all-vocabularies-radio-buttons {
  display: none;
}

#search-all-button {
  background-color: var(--dark-color);
  border-radius: 0;
  border: medium none;
  height: 40px;
  margin-left: 0;
  width: 68px;
}

#search-all-button.disabled, #search-all-button[disabled], fieldset[disabled] #search-all-button, #search-all-button.disabled:hover, #search-all-button[disabled]:hover, fieldset[disabled] #search-all-button:hover, #search-all-button.disabled:focus, #search-all-button[disabled]:focus, fieldset[disabled] #search-all-button:focus, #search-all-button.disabled:active, #search-all-button[disabled]:active, fieldset[disabled] #search-all-button:active, #search-all-button.disabled.active, #search-all-button.active[disabled], fieldset[disabled] #search-all-button.active {
  background-color: var(--secondary-dark-color);
  opacity: 0.99;
  color: var(--gray-600);
}

.search-vocab-text {
  background-color: var(--secondary-dark-color);
  opacity: 0.95;
  height: 40px;
  text-align: right;
  line-height: 40px;
}

.search-vocab-text > p {
  color: var(--white-color);
  margin: 0 5px;
  font-size: var(--font-size) !important;
}

.search-count {
  text-align: right;
}

.search-result-listing .no-results {
  margin: 15px;
}

.search-result-listing > .alert {
  margin: 10px 15px;
}

.search-result-listing > .alert > h4 {
  margin: 10px 0px;
}

.search-result-listing > .alert > .btn-default {
  border-radius: 0;
}

.search-result-listing .search-count {
  text-align: left;
  margin-left: 15px;
}

.search-limited {
  padding-right: 140px;
}

#remove-limits {
  border-radius: 0;
}

#remove-limits:hover {
  background-color: var(--white-color);
}

.search-result-listing .prefLabel {
  font-weight: bold;
}

.notation {
  margin-right: 12px;
}

.search-result > .notation {
  margin-right: 6px;
}

.search-result-listing .search-result {
  margin: 20px 15px ;
}

.search-result-listing {
  padding: 5px 0;
}

.search-result > div > span.uri-input-box {
  font-size: 12px;
  color: var(--uri-id-text-color);
}

.search-result {
  border: 1px solid transparent;
}

#lang-dropdown-toggle, .multiselect {
  background-color: var(--dark-color);
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: var(--white-color);
  height: 40px;
  padding-left: 10px;
  padding-right: 6px;
}

.multiselect .dropdown-toggle, .dropdown > .dropdown-toggle.btn-default {
  color: var(--white-color);
  background-color: var(--dark-color);
  box-shadow: none;
}

.multiselect {
  border: 0;
}

#selected-vocabs {
  display: none;
}

.navbar-left > .btn-group {
  float: left;
}

#search-field {
  background-color: var(--white-color);
  border: medium none;
  border-radius: 0;
  display: block;
  font-family: Tahoma,Geneva,sans-serif;
  font-size: var(--font-size);
  font-weight: bold;
  height: 40px;
  padding-left: 8px;
  padding-right: 22px;
  box-shadow: none;
}

#search-field:focus {
  box-shadow: none;
}

.input-group {
  display: table;
}

.form-control {
  display: table-cell;
}

.input-group-btn {
  width: 50px;
}

.qtip-skosmos {
  background-color: var(--tooltip-bg-color);
  border-radius: 0;
  border: 3px solid var(--tooltip-border-color);
  margin-top: 12px;
  margin-left: 9px;
  min-width: 400px;
}

.qtip-skosmos *, .reified-tooltip > p > span {
  color: var(--white-color);
  font-size: var(--font-size);
  font-weight: 400;
}

.qtip-skosmos a {
  color: var(--tooltip-text-color) !important;
  width: 100%;
}

.reified-tooltip {
  display: none;
  margin-top: 5px;
  width: 100%;

}

.reified-property-value > img {
  width: 18px;
}

span.xl-label > img {
  margin: -2px 2px 0 0;
}

span.xl-pref-label > img {
  margin: 10px 2px;
}

/* front page stuff
 ***************************/
.welcome-box, .right-box, #vocabulary-list {
  vertical-align: top;
}

.welcome-box {
  background-color: var(--white-color);
  display: inline-block;
  padding: 15px;
  min-height: 370px;
}

.welcome-box > h1, .right-box > h1 {
  margin-top: 0;
}

.right-box {
  background-color: var(--white-color);
  width: 240px;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.right-box {
  display: none;
}

.vocabulary-separator {
  border-bottom: 2px solid var(--gray-850);
  margin-bottom: 10px;
  margin-left: 28%;
  width: 125px;
}

#maincontent {
  display: inline;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
  margin: 0;
  word-wrap: break-word;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#vocabulary-list, #vocabulary-list-wide, #vocabulary-list-left, #vocabulary-list-right {
  background-color: var(--white-color);
  display: inline-block;
  word-break: break-word;
}

.logo-header > h2 {
  word-break: initial;
}

.voclist-wide #vocabulary-list {
  width: 100% !important;
}

#vocabulary-list > div > h2, #vocabulary-list > div > h3, #vocabulary-list-wide > div > h2, #vocabulary-list-wide > div > h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 15px 0 15px 10px;
}

.property-label, .vocab-category > h3 {
  text-transform: uppercase;
}

.vocab-category {
  display: inline-block;
  width: 100%;
}

.vocab-category > h3 {
  display: inline-block;
  margin: 0 0 5px 0;
}

.vocab-category > ul {
  width: 72%;
  float: right;
  padding-left: 0;
}

.vocab-category > li > h3 {
  margin-bottom: 5px;
  margin-top: 0;
}

.vocab-category > li {
  display: inline-block;
  float: left;
  padding: 0;
  width: 25%;
}

.vocabularies {
  padding: 0 10px;
}

/* feedback page
 ***************************/
#feedback-fields > p .missing-value {
  border: 2px solid var(--alert-color-pale);
}

#feedback-fields label {
  font-weight: normal;
}

#feedback-fields input::placeholder{
  font-weight: lighter;
  font-style: italic;
}


#message {
  height: 150px;
}

#feedback-fields p {
  word-break: break-word;
}

#feedback-fields > .dropdown {
  margin-bottom: 10px;
}

#feedback-fields > .dropdown > .dropdown-menu {
  border-radius: 0;
  height: auto;
  margin-top: 0;
  max-height: 450px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

#feedback-fields > .dropdown > .dropdown-menu > .dropdown-item:hover {
  background-color: var(--medium-color);
}

#feedback-fields > .dropdown > .dropdown-menu > .dropdown-item > a {
  white-space: normal;
  text-indent: -10px;
  margin-left: 10px;
  word-break: break-word;
}

#feedback-fields > .open > .dropdown-menu > li:hover > a {
  color: var(--white-color) !important;
  text-decoration: none;
}

#feedback-fields > .dropdown > .dropdown-menu > .dropdown-item:hover > a:hover {
  text-decoration: none;
}

#feedback-vocid {
  background-color: var(--gray-100);
  border: 0;
  color: var(--medium-color);
  text-align: left;
  width: 100%;
  white-space: inherit;
  word-break: break-word;
  padding-right: 25px;
}

/**
 * With Bootstrap 3 we had: #feedback-vocid > .caret.
 * However, that fails to move the element to the right since the caret changed
 * in Bootstrap 5. It would move the caret, but the "triangle" is in the ::after.
 */
#feedback-vocid::after {
  position: absolute;
  right: 10px;
  top: 50%;
}

#feedback-vocid:hover, #feedback-vocid:focus, #feedback-vocid:active {
  color: var(--medium-color);
}

.feedback-logo {
  border-bottom: 2px solid var(--dark-color);
  display: block;
  left: 200px;
  min-width: 84px;
  position: absolute;
}

.feedback-box {
  border-top: 2px solid var(--dark-color);
  min-height: 140px;
  margin: 0;
  max-width: 500px;
}

.feedback-box textarea, .feedback-box input, .feedback-box select, .feedback-box button, .feedback-box textarea:focus, .feedback-box input:focus, .feedback-box select:focus, .feedback-box button:focus {
  border-radius: 0;
  box-shadow: none;
}

.feedback-box > p {
  line-height: 50px;
}

.feedback-box > div > span {
  display: block;
  margin: 15px 0;
}

.feedback-box input, .feedback-box select, .feedback-box textarea {
  background-color: var(--gray-100);
  border: none;
  color: var(--medium-color);
  margin-bottom: 10px;
  resize: none;
}

.feedback-thanks {
  margin-top: 15px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: var(--medium-color) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: var(--medium-color) !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: var(--medium-color) !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: var(--medium-color) !important;
}

#send-feedback {
  background-color: var(--dark-color);
  border: none;
  float:right;
  margin: 5px 0 15px 0;
}

/* about page
 ***************************/
#about {
  background-color: var(--white-color);
  border-top: 2px solid var(--dark-color);
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.about-content {
  padding: 0 15px;
  width: 100%;
}

.special-container {
  left: 0;
  margin-left: 200px;
  position: absolute;
}

#about, .about-extra-info  {
  max-width: 500px;
  word-break: break-word;
}

.credits {
  border-top: 2px solid var(--dark-color);
}

/* sidebar styles
 ***************************/

#sidebar {
  height: 100%;
  position: absolute;
  width: 320px;
}

.sidebar-grey {
  background-color: var(--gray-100);
  height: 100%;
  height: calc(100% - 42px);
  overflow-y: auto;
}

.sidebar-grey ul, .sidebar-grey p {
  padding-left: 0;
}

#sidebar .multiselect > span, #sidebar .multiselect > span > b.caret {
  border-top-color: var(--gray-900);
  color: var(--gray-900);
}

.search-options > .input-group > .btn-group {
  display: block;
}

.search-options > .input-group > .btn-group > .multiselect {
  background-color: var(--white-color);
  border: 1px solid var(--gray-500);
  overflow-y: hidden;
}

.search-options > .input-group > .btn-group > .multiselect-container {
  top: 44px;
}

.search-options > .input-group > .btn-group > .multiselect-container > li:first-of-type > * {
  height: 26px;
}

.multiselect-container li {
  min-height: 26px;
}

.multiselect-container li > a > label.checkbox {
  height: 100%;
  margin: 0;
  padding: 3px 5px 3px 25px;
}

.multiselect-container li > a > label.checkbox > input {
  margin-top: 2px;
  padding: 0;
}

.search-options .multiselect > span {
  float: left;
  overflow: hidden;
  text-align: left;
  width: 252px;
}

.search-options .multiselect > .caret {
  color: var(--gray-900);
  float: right;
  position: absolute;
  right: 5px;
  top: 16px;
}

.fixed {
  height: 95%;
  height: calc(100% - 2px) !important;
  position: fixed !important;
  top: 2px;
}

.search-options > .btn-default:hover {
  border: 1px solid var(--gray-500);
}

.btn-active, .btn:active, .btn-default:active {
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
       -o-box-shadow: none !important;
          box-shadow: none !important;
}

.concept-main > .row > .property-label-pref {
  align-self: center;
}

.preflabel-spacer {
  background: url('../pics/stripe.png') repeat-x 50% center;
  height: 18px;
}

#vocab-info hr {
  background: url('../pics/stripe.png') !important;
  border: 1px solid transparent !important;
  margin-bottom: 15px !important;
  margin-top: 5px !important;
}

div#sidebar-grey > div > div > form.search-options {
  margin-right: 0;
}

.search-options {
  padding-left: 15px;
}

.search-options > .input-group * {
  border-radius: 0;
}

.search-options > .btn-default {
  border-radius: 0;
}

.search-result-listing .btn-default {
  position: absolute;
  right: 10px;
  top: 10px;
}

.search-result-listing .alert .btn-default {
  position: unset;
  vertical-align: unset;
  margin-left: 15px;
  font-size: 18px;
}

.alert h4, .alert h3  {
  display: inline;
}

.search-result-listing .alert-warning h4 {
  display: block;
}

.search-options .mCSB_container > li > a > .radio {
  margin: 0;
  padding-left: 25px;
}

.search-options .mCSB_container > li > a > label {
  font-weight: 400;
}

form.search-options > .input-group > .form-control {
  width: 280px;
}

form.search-options div.input-group:first-child {
  padding-top: 5px;
}

form.search-options div.input-group {
  padding-bottom: 15px;
}

div.input-group > .input-group-addon {
  min-width: 65px;
}

.alphabetical-search-results li, .group-container > p, .group-container > ul {
  font-size: var(--font-size);
  line-height: 15px;
  list-style-type: none;
}

#alphabetical-menu {
  margin: 15px 0 0 15px;
}

.activated-concept, .jstree-node > .jstree-clicked {
  background-color: transparent;
  border: 0;
  color: var(--gray-900);
  font-weight: 600;
}

.group-container {
  margin: 15px 0 5px 15px;
}

li.sub-group {
  margin-left: 25px;
}

/* scrollbars
 ****************************/
.mCSB_container {
  margin-right: 15px !important;
}

.mCSB_scrollTools {
  opacity: 1 !important;
  width: var(--font-size) !important;
}

.mCSB_draggerRail {
  background-color: var(--gray-600) !important;
  border-radius: 0 !important;
  width: var(--font-size) !important;
}

.mCSB_dragger {
  background-color: var(--gray-900) !important;
  border-radius: 0 !important;
  width: var(--font-size) !important;
}

.mCSB_dragger_bar {
  display: none;
}

.sidebar-grey-alpha .mCSB_dragger {
  height: 50px !important;
}

/* tables
 ****************************/

#vocab-info th, #vocab-info td {
  border-top: none !important;
}

#vocab-info tr {
  border-image: url('../pics/stripe.png') 20 20 repeat;
}

#statistics, #counts {
  word-break: break-all;
}

/* vocabulary
 ****************************/
.container {
  background-color: var(--white-color);
  width: 100%;
  padding: 0 15px;
}

.download-links {
  margin-bottom: 15px;
  word-break: break-all;
}

.download-links > * {
  margin-right: 5px;
  display: inline-block;
}

.count-type {
  padding-right: 20px;
}

/* alerts
 ****************************/
.alert {
  background-color: var(--alert-color-bright);
  border-radius: 0;
  border: none;
  color: white;
}

.alert-lang {
  background-color: var(--light-color);
  color: var(--gray-900);
}

.frontpage-alert {
  display: inline-block;
}

.page-alert {
  display: inline-block;
  position: absolute;
  right: 0;
}

.alert-danger {
  font-size: 18px;
}

.content .alert-danger p {
  color: var(--white-color);
  font-weight: 500;
  margin: 5px 0 5px 0;
  line-height: 1.1;
}

.frontpage-alert > h3, .page-alert > h3 {
  margin: 10px 0px;
}

.search-result-listing .deprecated-alert {
  margin-left: 10px;
  color: var(--alert-color-pale);
}

.alert-replaced a {
  color: var(--white-color);
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
}

#lang-info * {
  color: var(--white-color);
}

#lang-info > h1 {
  float: left;
  font-size: 48px;
  margin: -5px 15px 0 0;
}

.errors {
  color: red;
}

/* concept
 ****************************/
.concept-info {
  background-color: var(--white-color);
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.concept-info h3 {
  margin: 0;
  line-height: 22.85px;
}

.deprecated-concept * {
  color: var(--gray-750);
}

.concept-info li, .concept-info ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.concept-info .row > .property-label {
  padding-right: 20px;
}

.row > .property-label {
  width: 225px;
  word-break: break-word;
}

.row > .property-value-column {
  width: calc(100% - 225px);
  padding-bottom: 5px;
}

.property-value-column + div {
  width: 100%;
}

.property-value-column > .row > .col-xs-5 > .versal {
  word-wrap: break-word;
}

.concept-info p {
  margin: 0;
}

.concept-appendix {
  background-color: var(--gray-200);
  padding: 15px;
  width: 100%;
}

.concept-main {
  padding: 15px;
  width: 100%;
}

.appendix-vocab-label {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 21px;
  padding-left: 15px;
}

.hidden-breadcrumb, .hidden-path, .hidden-propval {
  display: none;
}

.expand-propvals .hidden-propval {
  display: list-item;
}

.restore-breadcrumbs {
  background-color: var(--white-color);
  float: right;
}

.crumb-path {
  float:left;
  width: 100%;
}

.foundby {
  margin-left: 225px;
}

.preflabel-desc > span {
  position: relative;
  top: 11px;
}

.concept-main > .row, .concept-appendix > .row {
  padding-top: 5px;
}

.concept-main > .row > .property-value-column {
  border-bottom: 2px solid var(--light-color);
}

.concept-main > .row:last-child > .property-value-column, .concept-main > .row > .property-label-pref + div, .concept-appendix .property-value-column {
  border-bottom: 0;
  padding-bottom: 0;
}

.row > div {
  padding: 0;
  word-break: break-word;
}

.other-languages.first-of-language > div + div {
  padding-left: 15px;
}

.other-languages > td:last-of-type {
  vertical-align: top;
}

.vocab-info-literals > div.table > .row:nth-child(1) {
  padding-top: 15px;
}

.vocab-info-literals > div.table > .row {
  padding-top: 10px;
  border-top: none;
}

#vocab-info table > tbody > tr.other-languages > td {
  padding-top: 0;
}

.other-languages > td:last-of-type > * {
  padding-left: 15px;
}

.concept-main .versal-pref {
  font-weight: 500;
}

.property-values {
  display: inline-block;
  width: 95%;
  width: calc(100% - 24px);
}

.shortened-property {
  display: inline-block;
  height: 18px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 95%;
  width: calc(100% - 24px);
}

.property-click {
  display: inline-block;
  vertical-align: top;
}

.property-click > img {
  vertical-align: top;
  margin-top: 3px;
}

.help-box.property-click > img {
  vertical-align: middle;
}

.shortened-symbol {
  background-color: var(--white-color);
  display: inline-block;
  height: 20px;
  padding: 0 0 0 2px;
  position: absolute;
  right: 10px;
}

.property-label > .property-click {
  border-bottom: 2px dotted var(--gray-500);
}

.concept-appendix .property-click {
  border-bottom: 2px dotted var(--gray-500);
}

tr .property-hover {
  margin-bottom: 2px;
  margin-left: 5px;
}

tr.replaced-by > td > span {
  color: var(--gray-900);
  font-weight: bold;
}

tr.replaced-by > td > ul > li > a {
  color: var(--medium-color);
  font-weight: bold;
}

.subvalue {
  margin-left: 15px;
}

.property-divider {
  border-top: 2px solid var(--gray-800);
  position: sticky;
  width: 95%;
  top: 100%;
}

#vocab-info .table {
  border-color: transparent;
}

#vocab-info .table > tbody > tr > th {
  padding-left: 0;
}

/* Introduced in BS5, adds extra padding in each row of the vocabulary info table */
#vocab-info .table>:not(caption)>*>* {
  padding: 0;
}

#vocab-info h2 {
  font-size: 27px;
  font-weight: 400;
  word-break: break-word;
}

#vocab-info h3 {
  font-weight: 400;
  display: initial;
  padding-right: 10px;
}

#vocab-info > div > h3 {
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}

#vocab-info .property-value-wrapper {
  padding: 0px 8px;
}

#counts { max-width: 300px; }

#statistics { max-width: 450px; }

#statistics .property-divider, #counts .property-divider {
  margin: 0;
}

#statistics td, #statistics th, #counts td, #counts th {
  padding: 0;
}

.pagination > li > a, .pagination > li > a:hover, #sidebar > .pagination > li > a:focus, #sidebar > .pagination > .active > a, .pagination > li > span {
  background-color: transparent;
  color: var(--medium-color);
  border: 0;
  padding: 4px 8px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a {
  border-radius: 0;
}

.pagination > li > a {
  width: 24px;
}

.pagination > li:nth-last-child(2) > a, .pagination > li:last-child > a {
  width: auto;
  min-width: 24px;
}

.pagination > li {
  display: flex;
  flex: 0 1 auto;
  align-content: center;
  text-align: center;
}

.pagination {
  background-color: var(--gray-100);
  border-bottom: 1px solid var(--gray-700);
  border-radius: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 10px;
  width: 310px;
  flex-wrap: wrap;
}

.nav-tabs {
  background-color: var(--gray-400);
  border-bottom: none;
  display: flex;
}

ul.nav-tabs > li {
  margin-bottom: 0;
  box-sizing: content-box;
  display: flex;
}

ul.nav-tabs > li > a {
  box-sizing: content-box;
  text-align: center;
  flex-grow: 200;
  align-content: stretch;
  align-items: center;
}

.sidebar-buttons .nav-tabs > li > a, .sidebar-buttons .nav-tabs > li > p, .sidebar-buttons .nav-tabs > li > a.active {
  background-color: var(--gray-300);
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-tabs > li:nth-of-type(even) > a {
  background-color: var(--gray-400);
}

.nav-tabs > li:nth-of-type(odd) > a {
  background-color: var(--gray-300);
}

.sidebar-buttons .nav-tabs > li > a.active {
  background-color: var(--gray-100);
}

.sidebar-buttons .nav-tabs > li > a:hover {
  background-color: white;
}

#limit {
  width: 33%;
}

.nav-tabs > li {
  width: 33%;
}

.nav-tabs > li:first-of-type {
  width: 34%;
}

.nav-four-wide > li {
  width: 31%;
}

.nav-four-wide > #alpha {
  width: 16%;
}

#hierarchy-disabled > *, #hierarchy-disabled > *:hover {
  background-color: var(--gray-600);
  color: var(--gray-800);
  cursor: default;
}

.nav-tabs > *:hover {
  background-color: var(--white-color);
}

.change-list > h5 {
  margin-bottom: 2px;
}

.content {
  margin-left: 350px;
}

.content > .concept-spinner ~ * {
   display: none;
}

#sidebar + main .content {
  max-width: calc(100% - 350px);
}

.wide-content {
  margin-left: 0;
}

#skiptocontent {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -100px;
}

#skiptocontent:focus {
  top: 0.5em;
  left: 0.5em;
  height: auto;
  width: auto;
  background-color: white;
  display: block;
}

span.date-info {
  float: right;
  font-family: var(--font-family);
  font-size: 12px;
  margin-top: 4px;
}

.concept-download-links > a {
 margin-right: 1px;
}

.copy-clipboard {
  color: var(--medium-color);
  border-radius: 0;
  vertical-align: unset;
  display: inline-block;
  font-size: var(--font-size);
  border: 0;
  margin: 0;
  padding: 0;
}

.copy-clipboard img {
  width: 1em;
  height: 1em;
}

.copy-clipboard:active, .copy-clipboard:focus, .copy-clipboard:active:focus {
  background-color: var(--white-color);
  color: var(--medium-color);
}

.copy-clipboard:hover {
  background-color: var(--white-color);
  color: var(--link-hover-color);
}

/*.property-value-column > .copy-clipboard {*/
/*  font-size: 24px;*/
/*}*/

/* typeahead.js
 ***********************************/

.typeahead,
.tt-query,
.tt-hint {
  border-radius: 0;
  border: 2px solid var(--gray-500);
  font-size: var(--font-size);
  line-height: 20px;
  width: 396px;
}

.typeahead {
  background-color: var(--white-color);
}

.typeahead:focus {
  border: 2px solid var(--tooltip-border-color);
}

.tt-hint {
  color: var(--gray-700)
}

.tt-menu {
  background-color: var(--gray-100);
  border-radius: 0;
  border: 1px solid var(--gray-500);
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-height:302px;
  overflow-y: auto;
  right: 0 !important;
  top: 40px !important;
  left: 1px !important;
}

.header-float > .navbar-form > .input-group > .twitter-typeahead > .tt-menu {
  width: 100%; /* fallback */
  width: calc(100% + 66px);
  min-width: calc(100% + 66px);
}

.header-float .twitter-typeahead {
  display: inline-flex !important;
}

.tt-menu.mCustomScrollbar {
  border-right: 0;
}

.tt-menu p {
  display: inline;
  padding-right: 2px;
}

.tt-menu p:last-of-type {
  padding-right: 0;
}

.tt-dataset-concept:last-of-type {
  border-bottom: none;
}

.autocomplete-no-results {
  margin: 0 0 0 6px;
}

.tt-selectable {
  border-bottom: 1px solid var(--gray-500);
  cursor: pointer;
  font-size: var(--font-size);
  line-height: 20px;
  padding: 2px 8px;
}

.tt-selectable:last-of-type {
  border-bottom: none;
}

.tt-selectable.tt-cursor {
  background-color: var(--gray-200);
}

.twitter-typeahead > .form-control {
  border-radius: 0;
  height: 30px;
}

.tt-selectable p {
  margin: 0;
}

.twitter-typeahead > .clear-search {
  color: var(--gray-500);
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 8px;
  top: 2px;
  z-index: 9001;
}

.twitter-typeahead > .clear-search-dark {
  color: var(--gray-850);
}

.gist {
  font-size: var(--font-size);
}

.search-options > div.input-group > .twitter-typeahead, .search-options > div.input-group > .twitter-typeahead > .tt-menu, .search-options > .input-group > .btn-group > * {
  width: 280px;
}

.vocab, .concept-type {
  font-size: 12px;
}

.type {
  float: right;
}

.tt-selectable > .concept-type {
  float: right;
  height: auto;
}

.tt-selectable {
  overflow: hidden;
}

p.autocomplete-label {
  color: var(--medium-color);
  display: block;
  margin: 0;
}

/* jsTree customization
 *****************************************/
.jstree-leaf > .jstree-ocl {
  width: 13px;
}

.jstree-closed > .jstree-ocl {
  width: 24px;
}

#sidebar .jstree-clicked, #sidebar .jstree-hovered {
  background: none;
  box-shadow: none;
}

.jstree-default .jstree-node, .jstree-default .jstree-anchor {
    line-height: 18px;
    min-height: 18px;
}

#sidebar .jstree-default .jstree-icon {
    height: 18px;
    line-height: 18px;
    width: 18px;
}

.jstree-default.jstree-rtl .jstree-node {
    margin-right: 18px;
}

.jstree-default .jstree-wholerow {
    min-height: 18px;
}

.jstree-open > .jstree-anchor, .jstree-closed > .jstree-anchor {
  line-height: 18px;
}

.jstree-anchor {
  padding: 0 18px 0 1px;
}

#sidebar .jstree-node {
  margin-left: 10px;
}

#sidebar .jstree-container-ul > .jstree-node {
  margin-left: 2px;
}

#sidebar .jstree-default a { white-space:normal; height: auto; }
#sidebar .jstree-default li > ins { vertical-align:top; }
#sidebar .jstree-default a > .tree-notation { color: var(--gray-900); }

.sidebar-grey .jstree-closed > .jstree-ocl {
  background-position: -100px -8px;
}

.sidebar-grey .jstree-open > .jstree-ocl {
  background-position: -132px -8px;
}

.jstree-default .jstree-leaf > .jstree-ocl {
  background-position: -68px -8px;
}

.group {
  font-weight: bold;
}

/* Fix for a nasty chromium bug causing the fonts not to render before a redraw.
 * https://code.google.com/p/chromium/issues/detail?id=336476
 ************************************/

body, .versal, h1, h2, h3, p, .versal-bold {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}

/* mediaquery
 ***********************************/
@media (max-width: 800px) {
  .main-container, .headerbar {
    width: 95% !important;
  }

  .content > .feedback-logo, .content > .about-logo {
    left: 10px;
  }

  .content > .feedback-box, .content > #about, .content > .about-extra-info {
    margin-left: 120px;
  }

  .tt-dropdown {
    max-width: 240px;
  }

  .content {
    margin-left: 300px;
  }

  #sidebar + main .content {
    max-width: calc(100% - 300px);
    display: inline;
  }

  .property-divider {
    width: 17%;
  }

  h1 {
    font-size: 16px;
  }

  #sidebar {
    display: none;
  }

  .qtip-skosmos:not(#qtip-0) {
    left: 0 !important;
  }

  .qtip-skosmos:not(#qtip-0) canvas {
    display: none !important;
  }

  .content {
    margin: 0 auto;
  }

  .welcome-box, .right-box {
    float: left;
    width: 200px;
  }

  #vocabulary-list, #vocabulary-list-right {
    float: right;
    margin-left: 15px;
    position: relative;
    width: calc(100% - 220px);
  }

  .vocab-category > ul, .vocab-category > li {
    left: 0;
    width: 100%;
  }

  .vocabulary-separator {
    margin-left: 0;
  }

}

@media (max-width: 340px) {
  #vocab-info .vocab-info-literals .property-label {
    max-width: 120px;
  }
  #vocab-info .vocab-info-literals .property-value-column {
    max-width: 180px;
  }
}

@media (max-width: 450px) {
  .content > .feedback-logo {
    position: relative;
    width: min-content;
  }

  .content > .container.feedback-box {
    margin-left: 10px;
    margin-top: 20px;
  }

  .qtip-skosmos {
    min-width: auto;
    left: 0 !important;
  }
  .qtip-skosmos canvas {
    display: none !important;
  }
}

@media (max-width: 530px) {
  .content > #about {
    margin-top: 20px;
  }

  .content > #about, .content .about-extra-info {
     margin-left: 0;
  }
}

@media (max-width: 550px) {

  .topbar.frontpage > a {
    display: inline;
  }

  .row > .property-value-column {
    width: 100%;
  }

  .row > .property-value-column, .row > .property-value-column  {
    margin: 5px 0;
  }
  #vocab-info .property-value-wrapper {
    padding: 0;
  }

  .concept-main > .row, .concept-appendix > .row {
    padding-top: 0px;
  }

  .row:nth-of-type(2) > .property-value-column {
    margin: 2px 0 0 0;
    line-height: 30px;
  }

  .concept-main > .row > .property-label-pref {
      margin-top: 10px;
      line-height: 20px;
  }

  .search-vocab-text{
    display: none;
  }

}

@media (max-width: 640px) {

  .welcome-box, .right-box {
    display: none;
  }

  #vocabulary-list, #vocabulary-list-left, #vocabulary-list-right, .twitter-typeahead {
    margin: 0;
    width: 100%;
  }

  .headerbar-coloured {
    overflow: hidden;
  }

  .headerbar {
    width: 95%;
  }

}

@media (max-width: 800px) {

  .twitter-typeahead {
    width: 100%;
  }

  .right-box {
    left: 0;
  }

}

@media (max-width: 700px) {

  .topbar > a {
    outline-offset: -2px;
  }

  .topbar {
    height: 100%;
  }

  #navi1, #navi2, #navi3, #navi4 {
    background-image: none;
    padding-left: 0;
  }

  #navigation > a, #language > a, #navi4 > span {
    font-weight: 500;
  }

  #service-logo {
    outline-offset: -2px;
  }

  #service-name {
    left: 0;
  }

  .frontpage-spacing .header-float {
    float: left;
  }

  .headerbar.frontpage-spacing {
    margin-bottom: 15px;
  }

  .main-container.frontpage {
    overflow: hidden;
    top: 10px;
  }

  #navigation {
    padding-right: 0;
  }

  input#search-field {
    max-width: none;
  }

  .frontpage-spacing > .header-float > .navbar-form {
    width: 100%;
  }

}

@media (min-width: 640px) {
  .right-box {
    display: inline;
  }

  .voclist-wide > .right-box {
    left: 0;
    top: 425px;
  }

  .crumb-path:first-of-type {
    max-width: calc(100% - 180px);
  }

}

@media (min-width: 801px) {

  .content > .feedback-logo, .content > .about-logo {
    left: 10px;
  }

  .frontpage-alert {
    margin-left: 20px;
    width: calc(100% - 375px);
  }

  .page-alert {
    width: calc(100% - 335px);
  }

  .nav > li > a {
    padding: 10px 10px;
  }

  .frontpage-logo .input-group {
    max-width: 450px;
  }

  .tt-menu {
    width: 234px;
  }

  #navigation > span {
    margin: auto 0;
  }

  .content {
    margin-left: 330px;
  }

  #sidebar + main .content {
    max-width: calc(100% - 330px);
  }

  #sidebar {
    width: 310px;
  }

  .frontpage > .welcome-box, .frontpage > .right-box {
    width: 200px;
  }

  .voclist #vocabulary-list {
    margin-left: 20px;
    width: calc(100% - 225px);
  }

   .voclist-right #vocabulary-list {
    margin-left: 20px;
    width: auto;
    width: calc(100% - 225px);
  }

  .voclist-left #vocabulary-list{
    margin-left: 0;
    width: auto;
    width: calc(100% - 225px);
  }

  .voclist-left > .right-box {
    top: 0;
    right: 0;
  }

  h1 {
    font-size: 20px;
  }

}

@media (max-width: 1259px) {

  .search-result-listing .prefLabel, .search-result-listing .notation {
    font-size: var(--font-size);
  }

  .voclist > .right-box {
    top: 435px;
    left: 0;
  }

}

@media (min-width: 1260px) {
  .main-container, .headerbar, .topbar {
    width: 1190px;
  }

  .frontpage-alert {
    width: calc(100% - 610px);
  }

  .page-alert {
    width: calc(100% - 425px);
  }

  .sidebar-grey-alpha {
    height: calc(100% - 150px) !important;
  }

  .sidebar-grey > .search-options > .input-group > .btn-group > .multiselect {
    width: 370px;
  }

  .sidebar-grey > .search-options > .input-group > .btn-group > .multiselect-container {
    width: 370px;
  }

  .search-options .multiselect > span {
    width: 340px;
  }

  .pagination {
    padding: 6px 10px;
    top: 183px;
    width: 400px;
  }

  .pagination > li > a {
    width: 24px;
  }

  .topbar {
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
  }

  #language {
    padding-left: 25px;
    padding-right: 0;
    right: 0;
  }

  #language > .dropdown-menu {
    position: absolute;
    right: 0;
  }

  #navigation {
    padding-right: 0;
    position: relative;
  }

  .frontpage > .welcome-box, .frontpage > .right-box {
    width: 210px;
  }

  .frontpage > .right-box {
    display: inline-block;
    left: auto;
    top: 0;
  }

  .content > .feedback-box, .content > #about, .about-extra-info {
    max-width: 600px;
  }

  .tt-menu {
    min-width: 310px;
  }

  .content {
    margin-left: 425px;
  }

  #sidebar + main .content {
    max-width: calc(100% - 425px);
  }

  input#search-field {
    width: 260px;
  }

  .voclist #vocabulary-list {
    display: inline-block;
    position: relative;
    width: 720px;
  }

  .voclist-left #vocabulary-list, .voclist-right #vocabulary-list {
    width: 955px !important;
  }

  #sidebar {
    width: 400px;
  }

  h1 {
    font-size: 24px;
  }

  .alphabetical-search-results li, li, .versal, .versal-bold, p, .search-result > .prefLabel, .search-result > .notation, .property-values > .prefLabel, td > a {
    font-size: 16px;
  }

  .search-result > div > span.uri-input-box {
    font-size: var(--font-size);
  }

  .appendix-vocab-label {
    font-size: var(--font-size);
    line-height: 23px;
  }

  span.date-info {
    font-size: var(--font-size);
    margin-top: 0;
  }

  .search-options > div.input-group > .twitter-typeahead, .search-options > div.input-group > .twitter-typeahead > .tt-menu {
    min-width: 370px;
  }

  .row > .property-label {
    width: 235px;
  }

  .row > .property-value-column {
    width: calc(100% - 235px);
  }

}

@media (min-width: 1520px) {

  .main-container, .headerbar, .topbar {
    width: 1240px;
  }

  .frontpage-alert {
    width: calc(100% - 530px);
  }

  #vocabulary-list {
    display: inline-block;
    position: relative;
    width: 710px !important;
  }

  .voclist-left #vocabulary-list, .voclist-right #vocabulary-list {
    width: 975px !important;
  }

  .frontpage > .right-box {
    width: 240px;
  }

  .frontpage > .welcome-box {
    margin-left: 0;
    width: 240px;
  }

}

/**
 * In Bootstrap 5 there is the d-none which is equivalent to the hidden class
 * we used from Bootstrap 4. But changing that requires modifying the concept
 * mapping JS code. Adding this CSS class is easier and simpler.
 */
.hidden {
  display: none;
}

<!--[if IE]>
#vocab-info hr {
  border: 2px dashed #62729f !important;
}
<![endif]-->
