{% extends "base-template.twig" %}
{% block title %}: "Search results"{% endblock %}
{% block content %}
<div class="p-5 pt-4" id="main-content">
  <div class="search-count {% if limit_type or limit_parent or limit_group or limit_scheme %}search-limited{% endif %}">
    <p class="py-2"><span class="fw-bold">{{ search_count }} results for</span> '{{ term }}'</p>
  </div>
  {% include "search-results.inc" %}
</div>
{% endblock %}
