<div class="tooltip-html">
  <button class="btn p-0 m-0"><i class="fa-solid fa-circle-info"></i></button>
  <dl class="tooltip-html-content">
    {% for key, val in xlLabel.properties %}
    <dt>{{ key|trans }}</dt>
    <dd>{{ val }}</dd>
    {% endfor %}
  </dl>
</div>
