<div class="bg-dark px-4 py-4 mb-gutterwidth text-light" id="welcome-box">
  <h2 class="fw-bold fs-3 my-3">Welcome to the Skosmos browser demo</h2>
  <p class="fs-5">
  Skosmos is a web-based tool providing services for accessing controlled vocabularies, 
  which are used by indexers describing documents and searchers looking
  for suitable keywords. Vocabularies are accessed via SPARQL endpoints containing SKOS vocabularies.
  </p>
  <p class="fs-5">Skosmos is being developed at the National Library of Finland.</p>
</div>
