<div class="bg-medium px-5 py-5 flex-grow-1 d-flex align-items-center" id="info-box">
  <a class="fs-5 text-dark text-decoration-none" href="https://github.com/NatLibFi/Skosmos">Skosmos is open source and on GitHub <i class="fa-solid fa-arrow-right ps-2"></i></a>
</div>
