{% extends "light.twig" %}
{% block sidebar %}{% endblock %}
{% block headernav %}{% endblock %}
{% block content %}
<div class="about-logo">
  <h1>{% trans "About" %}</h1>
</div>
<div id="about">
  <div class="about-content">
    {% include ['about.inc', 'about.inc.dist']  %}
    <div class="credits">
      <p>{% trans "SKOSmos layout designed by Hahmo" %}</p>
    </div>
  </div>
</div>
{% endblock %}
