{% extends "light.twig" %}
{% block sidebar %}{% endblock %}
{% block headernav %}{% endblock %}
{% block content %}
<div class="about-logo">
  <h1>{% trans "About" %}</h1>
</div>
  <div id="about">
  {% include ['about.inc', 'about.inc.dist']  %}
  </div>
  <div class="credits">
    <p>{% trans "SKOSmos layout designed by Hahmo" %}</p>
  </div>
{% endblock %}
