{# This is the template for the front page welcome box. You can enter any html here and show different language versions by using the lang value in a twig conditional as demonstrated below. #}
<div class="welcome-box">
  {% if request.lang == 'fi' %}
  <h1>Tervetuloa Skosmos -selaimeen!</h1>
  {% elseif request.lang == 'sv' %}
  <h1>Välkommen till Skosmos läsaren!</h1>
  {% elseif request.lang == 'en' %}
  <h1>Welcome to the Skosmos browser!</h1>
  {% endif %}
</div>
