{% extends "light.twig" %}
{% set concept_label = '' %}{% for concept in search_results %}{% set concept_label = concept.label %}{% endfor %}
{% block title %}: {{ vocab.shortName }}{% if search_results|length == 1 %}: {{ concept_label }}{% elseif term != '' %} '{{ term }}'{% endif %}
{% endblock %}
{% block content %}
<div class="search-result-listing">
  {% include 'search-result.twig' %}
  {% if not search_results and request.vocabid == 'null' and not global_search %}
  <div class="alert alert-danger">
    <h4>{% trans %}Error: Requested vocabulary not found!{% endtrans %}</h4>
  </div>
  {% elseif not search_results and request.vocabid and not global_search %}
  <div class="alert alert-danger">
    <h4>{% trans %}Error: Search failed for vocabulary!{% endtrans %}</h4>
  </div>
  {% endif %}
</div>
{% endblock %}
